{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Accounts{% endblock %}
{% block heading %}Company Profile <small>{{ company_detail.name }}</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Accounts</a></li>
	<li><a>Company</a></li>
	<li>{{ company_detail.name }}</li>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

	<script type="text/javascript">
		function sendPost(url, data) {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
					$('.modal-alert').html(result.message);
					$('.modal-alert').fadeIn();

					if(result.success == 1) {
						$('.modal-alert').addClass('alert alert-success');
						setTimeout(null,1000);
						window.location = "{% url 'companies:detail' company_detail.id %}";
					}
					else {
						$('.modal-alert').addClass('alert alert-danger');
						$.each(result.errors, function(k,v) {
                            $("#id_"+k).parents('tr').addClass("has-error");
                            $("#"+k+"-help").html(v);
						});
					}

					setTimeout("$('.modal-alert').fadeOut()",2000);
					$('.modal-alert').removeClass().addClass('modal-alert');
				}
			}

			$.ajax({
                url: url,
                data: data,
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function getFeeds() {
			$("#activity-feed").html("");
			$("#recent-users-feed").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						if(result.data.feeds.activities.length == 0) {
							$("#activity-feed").append("<li><em>No recent actions.</em></li>");
						}
						else {
							for(x in result.data.feeds.activities) {
								var url = "{% url 'contacts:detail' 0 %}".replace('0', result.data.feeds.activities[x].actor_id);
								$("#activity-feed").append(' \
									<li> \
										<div class="pull-right">'+result.data.feeds.activities[x].timestamp+'</div> \
										<div><a href="'+url+'">'+result.data.feeds.activities[x].actor+'</a>&nbsp;'+result.data.feeds.activities[x].action+'</div> \
									</li>'
								);
							}
						}

						if(result.data.feeds.recent_users.length == 0) {
							$("#recent-users-feed").append("<li><em>No recent users.</em></li>");
						}
						else {
							// Process recent_users feed
							for(x in result.data.feeds.recent_users) {
								var url = "{% url 'contacts:detail' 0 %}".replace('0', result.data.feeds.recent_users[x].id);
								$("#recent-users-feed").append(' \
									<li> \
										<div class="pull-right">'+result.data.feeds.recent_users[x].timesince+'</div> \
										<div>'+result.data.feeds.recent_users[x].name+'&nbsp;&lt;<a href="'+url+'">'+result.data.feeds.recent_users[x].email+'</a>&gt;</div> \
									</li>'
								);
							}
						}
					}
					else {
						$("#feeds-portlet-body").html(result.message);
					}
				}
			}

			$.ajax({
                url: "{% url 'companies:getfeeds' company_detail.id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function getProfile() {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						$("#company-profile-status").html(result.data.company.status);
						$("#company-profile-since").html(result.data.company.created);
						$("#company-profile-title").html(result.data.company.name);
						$("#company-profile-notes").html(result.data.company.description);
						$("#company-profile-address").append(' \
							 <span>'+result.data.company.address1+'</span><br /> \
							 <span>'+result.data.company.address2+'</span><br /> \
							 <span>'+result.data.company.city+', '+result.data.company.state+' '+result.data.company.zip+'</span><br />');

						if(result.data.company.phone != "") {
							$("#company-profile-contact").append('<abbr title="Phone">P:</abbr> '+ result.data.company.phone +'<br />');
						}

						if(result.data.company.fax != "") {
							$("#company-profile-contact").append('<abbr title="Fax">F:</abbr> '+ result.data.company.fax +'<br />');
						}

						if(result.data.company.website != "") {
							$("#company-profile-website").append('<a href="'+result.data.company.website+'" target="_blank">'+ result.data.company.website +'</a><br />');
						}
					}
					else {
						$("#company-address").html(result.message);
					}
				}
			}

			$.ajax({
                url: "{% url 'companies:get' company_detail.id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function getContacts() {
			$("#company-contacts-table").dataTable().fnDestroy();
			$("#company-contacts-tbody").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						for(x in result.data.contacts) {
							$("#company-contacts-tbody").append(' \
						        <tr data-id="'+result.data.contacts[x].id+'"> \
						        	<td>'+result.data.contacts[x].first_name+'</td> \
						        	<td>'+result.data.contacts[x].last_name+'</td> \
						        	<td>'+result.data.contacts[x].email+'</td> \
						        	<td>'+result.data.contacts[x].role+'</td> \
						        </tr>'
						    );
						}

						$("#company-contacts-table").dataTable({"aoColumnDefs": [], "aaSorting": [[0, 'asc']]});
					}
					else {
						$("#contacts-listing").html(result.message)
					}
				}
			}

			$.ajax({
                url: "{% url 'companies:getcontacts' company_detail.id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function showCompanyModal() {
			$("#company-edit-form").trigger('reset');
			$("#company-modal").modal('show');
		}

		function showContactModal() {
			$("#create-contact-form").trigger('reset');
			$("#contact-modal").modal('show');
		}
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getProfile();
	getFeeds();
	getContacts();

	$('#company-contacts-tbody').on('click', 'tr', function () {
		if($(this).data('id')) {
			window.location = "{% url 'contacts:detail' 0 %}".replace("0", $(this).data('id'));
		}
	});

	$(document)
        .on('click', 'a.show-set-contact-modal', function (e) {
            e.preventDefault();
            showContactModal();
        })
        .on('click', 'a.show-set-company-modal', function (e) {
            e.preventDefault();
            showCompanyModal();
        })
        .on('click', 'a.set-contact-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'contacts:create' %}", $("#create-contact-form").serialize());
        })
        .on('click', 'a.set-company-form-submit', function (e) {
            e.preventDefault();
            sendPost('{% url 'companies:set' company_detail.id %}', $('#company-edit-form').serialize());
        });
{% endblock %}

{% block content %}
 <!-- BEGIN COMPANY CONTENT -->

 	<!-- BEGIN COMPANY PROFILE CONTAINER -->
		<!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-6"><h3>Profile</h3></div>
	        {% if user.is_admin %}
		        <div class="col-md-6 text-right">
		            <div class="btn-group">
		                <a role="button" class="badge show-set-company-modal" data-toggle="modal">Edit Profile <i class="fa fa-plus"></i></a>
		            </div>
		        </div>
	        {% endif %}
	    </div>
	    <!-- END CONTAINER HEAD -->
	    <!-- BEGIN CONTAINER BODY -->
	    <div class="col-md-12">
	    	<div class="row">
	    		<div class="col-md-5">
					<address id="company-address">
						<h4 id="company-profile-title">Acme Testing Company, LLC</h4>
						<div style="margin: 10px 0 10px 20px">
							<label>Address</label>
							<div id="company-profile-address" style="padding-left: 20px"></div>

							<label>Contact</label>
							<div id="company-profile-contact" style="padding-left: 20px"></div>

							<label>Website</label>
							<div id="company-profile-website" style="padding-left: 20px"></div>
						</div>
					</address>
				</div>
				<div class="col-md-7">
					<div class="row">
						<label class="control-label col-md-3">Status:</label>
						<span class="col-md-9" id="company-profile-status"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-3">Since:</label>
						<span class="col-md-9" id="company-profile-since"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-3">Notes:</label>
						<span class="col-md-9 text-justify" style="height: auto; max-height: 225px; overflow-y: auto" id="company-profile-notes"></span>
					</div>
				</div>
			</div>
	    </div>
	    <!-- END CONTAINER BODY -->
    <!-- END COMPANY PROFILE CONTAINER -->


    <!-- BEING COMPANY CONTACTS CONTAINER -->
	    <!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-6"><h3>Contacts</h3></div>
	        {% if user.is_admin %}
		        <div class="col-md-6 text-right">
		            <div class="btn-group">
		                <a role="button" class="badge show-set-contact-modal" data-toggle="modal" alt="Create Contact">Add Contact <i class="fa fa-plus"></i></a>
		            </div>
		        </div>
	        {% endif %}
	    </div>
	    <!-- END CONTAINER HEAD -->
	    <!-- BEGIN CONTAINER BODY -->
		<div id="contacts-listing">
			<table class="table table-hover" id="company-contacts-table">
				<thead class="row">
					<tr>
						<th class="col-md-3">First Name</th>
						<th class="col-md-3">Last Name</th>
						<th class="col-md-3">Email Address</th>
						<th class="col-md-3">Role</th>
					</tr>
				</thead>
				<tbody id="company-contacts-tbody"></tbody>
			</table>
		</div>
		<!-- END CONTAINER BODY -->
	<!-- END COMPANY CONTACTS CONTAINER -->

	<!-- BEING COMPANY HISTORY CONTAINER -->
	     <!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-12">
	        	<h3>History</h3>
	        </div>
	    </div>
	    <!-- END CONTAINER HEAD -->
	    <!-- BEGIN CONTAINER BODY -->
	    <div class="row">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#activites-tab" data-toggle="tab">Activities</a></li>
				<li><a href="#recent-users-tab" data-toggle="tab">Recent Users</a></li>
			</ul>
			<div class="tab-content" style="height: 200px; overflow: auto; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 20px 0 20px">
				<!-- BEGIN ACTIVITIES TAB -->
				<div class="tab-pane active" id="activites-tab">
					<ul class="feeds list-unstyled" id="activity-feed"></ul>
				</div>
				<!-- END ACTIVITIES TAB -->
				<!-- BEGIN RECENT USERS TAB -->
				<div class="tab-pane" id="recent-users-tab">
					<ul class="feeds list-unstyled" id="recent-users-feed"></ul>
				</div>
				<!-- END RECENT USERS TAB -->
			</div>
	    </div>
	    <!-- END CONTAINER BODY -->
    <!-- END COMPANY HISTORY CONTAINER -->

	<!-- BEGIN COMPANY MODAL -->
	<div id="company-modal" class="modal fade in" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Company Profile</h3>
				</div>
				<div class="modal-body">
					<div class="modal-alert"></div>
					<!-- BEGIN COMPANY PROFILE FORM-->
					<form role="form" class="form form-vertical" id="company-edit-form">
						{% csrf_token %}
						<table class="table table-hover" id="company-profile-form-table">
							{% for field in company_form %}
								<tr class="form-group">
									<td><label class="control-label">{{ field.label_tag }}</label></td>
									<td>
										<div class="controls">
											{{ field|addcss:"form-control" }}
											<span id="{{ field.html_name }}-help" class="help-inline"></span>
										</div>
									</td>
						        </tr>
						    {% endfor %}
					    </table>
					</form>
					<!--END COMPANY PROFILE FORM -->
				</div>
				<div class="modal-footer">
					<a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
					<a role="button" class="btn btn-primary set-company-form-submit">Ok</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END COMPANY MODAL -->

	<!-- BEGIN CONTACT MODAL -->
	<div id="contact-modal" class="modal fade in" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Create Contact</h3>
				</div>
				<div class="modal-body">
					<div class="modal-alert"></div>
					<!-- BEGIN CREATE CONTACT FORM-->
					<form role="form" class="form form-vertical" id="create-contact-form">
						<input type="hidden" name="company" value="{{ company_detail.id }}" />
						<table class="table table-hover" id="create-contact-form-table">
							{% for field in contact_form %}
								{% if field.label_tag != "Company" %}
								<tr class="form-group">
									<td><label class="control-label">{{ field.label_tag }}</label></td>
									<td>
										<div class="controls">
											{{ field|addcss:"form-control" }}
											<span id="{{ field.html_name }}-help" class="help-inline">{{ field.errors }}</span>
										</div>
						        	</td>
						        </tr>
						        {% endif %}
						    {% endfor %}
						</table>
					</form>
					<!--END CREATE CONTACT FORM -->
				</div>
				<div class="modal-footer">
					<a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
					<a role="button" class="btn btn-primary set-contact-form-submit">Ok</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTACT MODAL -->


 <!-- END COMPANY CONTENT -->
{% endblock %}