{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Companies{% endblock %}
{% block heading %}Administration <small>Companies</small>{% endblock %}

{% block breadcrumbs %}
    <li>Companies</a></li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
    <script type="text/javascript">
        function getCompanies() {
            $("#companies-index-table").dataTable().fnDestroy();
            $("#companies-index-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.companies) {
                            $("#companies-index-tbody").append(' \
                                <tr data-id="'+result.data.companies[x].id+'"> \
                                    <td>'+result.data.companies[x].id+'</td> \
                                    <td>'+result.data.companies[x].name+'</td> \
                                    <td>'+result.data.companies[x].status+'</td> \
                                    <td>'+result.data.companies[x].created+'</td> \
                                    <td>'+result.data.companies[x].modified+'</td> \
                                </tr>'
                            );
                        }

                        $("#companies-index-table").dataTable({"aoColumnDefs": [],"aaSorting": [[0, 'asc']]});
                    }
                    else {
                      $("#companies-index-tbody").html("<tr class='has-error'><td colspan=4><em>"+result.message+"</em></td></tr>");
                    }
                }
            }

            $.ajax({
                url: "{%url 'companies:getcompanies' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

      function addCompany() {
          function onSuccessCallback(result) {
              if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
                  $('.modal-alert').html(result.message);
                  $('.modal-alert').fadeIn();

                  if(result.success == 1) {
                    $('.modal-alert').addClass('alert alert-success');
                    getCompanies();
                    setTimeout("$('.modal.in').modal('hide')",500);
                  }
                  else {
                      $('.modal-alert').addClass('alert alert-danger');
                      if(result.hasOwnProperty('errors')) {
                          $.each(result.errors, function(k,v) {
                              $("#id_"+k).closest('tr').addClass("has-error");
                              $("#"+k+"-help").html(v);
                          });
                      }
                  }

                  setTimeout("$('.modal-alert').fadeOut()",2000);
                  $('.modal-alert').removeClass().addClass('modal-alert');
              }
          }

          $.ajax({
              url: "{% url 'companies:set' 0 %}",
              type: "POST",
              data: $("#company-add-form").serialize(),
              success: onSuccessCallback,
              error: defaultErrorCallback
          });
      }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getCompanies();

    $('#companies-index-table').on('click', 'tr', function () {
        if($(this).data('id')) {
            window.location = "{% url 'companies:detail' 0 %}".replace('0', $(this).data('id'));
	      }
    });

  $(document)
        .on('click', 'a.refresh-companies', function (e) {
            e.preventDefault();
            getCompanies();
        })
        .on('click', 'a.show-set-company-modal', function (e) {
            e.preventDefault();
            $('#company-add-form').trigger('reset');
            $('#set-company-modal').modal('show');
        })
        .on('click', 'a.set-company-form-submit', function (e) {
            e.preventDefault();
            addCompany();
        });
{% endblock %}

{% block content %}
 <!-- BEGIN COMPANIES INDEX CONTENT -->

    <!-- BEGIN CONTENT HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><h3>Companies</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a href="#" role="button" class="refresh-companies" alt="Refresh Companies"><i class="fa fa-refresh"></i></a>
                <a href="#" role="button" class="show-create-company-modal" data-toggle="modal" alt="Create Company"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEAD -->

    <!-- BEGIN CONTENT BODY -->
      <!-- BEING COMPANIES TABLE -->
      <table class="table table-hover" id="companies-index-table">
          <thead class="row">
              <tr>
                  <th class="col-md-1">ID</th>
                  <th class="col-md-3">Name</th>
                  <th class="col-md-2">Status</th>
                  <th class="col-md-3">Created</th>
                  <th class="col-md-3">Last Update</th>
              </tr>
          </thead>
          <tbody id="companies-index-tbody"></tbody>
      </table>
      <!-- END COMPANIES TABLE -->
    <!-- END CONTENT BODY -->

    <!-- BEGIN MODAL -->
    <div id="set-company-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add Company</h3>
                </div>
                <div class="modal-body">
                    <!-- BEGIN MODAL BODY -->
                    <div class="modal-alert"></div>
                      <!-- BEGIN COMPANY FORM -->
                      <form class="form form-vertical" role="form" id="company-add-form">
                        <table class="table table-hover" id="company-profile-form-table">
                          {% for field in companyform %}
                            <tr class="form-group">
                              <td><label class="control-label">{{ field.label_tag }}</label></td>
                              <td>
                                <div class="controls{% if field.errors %} error{% endif %}">
                                  {{ field|addcss:"form-control" }}
                                  <span class="help-inline" id="{{ field.html_name }}-help"></span>
                                </div>
                              </td>
                                </tr>
                            {% endfor %}
                          </table>
                      </form>
                      <!-- END COMPANY FORM -->
                    <!-- END MODAL BODY -->
                </div>
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-company-form-submit">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->

 <!-- END COMPANIES INDEX CONTENT -->
{% endblock %}
