{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Companies{% endblock %}
{% block heading %}Admin Portal <small>Companies</small>{% endblock %}

{% block breadcrumbs %}
    <li>Companies</a></li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
    <script type="text/javascript">
        function getCompanies() {
            $("#companies-index-table").dataTable().fnDestroy();
            $("#companies-index-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result)) {
                    if(result.success == 1) {
                        for(x in result.data.companies) {
                            $("#companies-index-tbody").append(' \
                                <tr data-id="'+result.data.companies[x].id+'"> \
                                    <td>'+result.data.companies[x].id+'</td> \
                                    <td>'+result.data.companies[x].name+'</td> \
                                    <td>'+result.data.companies[x].status+'</td> \
                                    <td>'+result.data.companies[x].created+'</td> \
                                    <td>'+result.data.companies[x].modified+'</td> \
                                </tr>'
                            );
                        }

                        $("#companies-index-table").dataTable({"aoColumnDefs": [],"aaSorting": [[0, 'asc']]});
                    }
                    else {
                        $("#companies-index-tbody").html("<tr><td colspan=4>"+result.message+"</td></tr>");
                    }
                }
            }

            $.ajax({
                url: "{%url 'companies:getcompanies' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

      function addCompany() {
          function onSuccessCallback(result) {
              if(!jQuery.isEmptyObject(result)) {
                  $('#flash-message').fadeIn();
                  if(result.success == 1) {
                    // AJAX call returned successful
                    $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
                    getCompanies();
                    setTimeout("$('.modal.in').modal('hide')",2000);
                  }
                  else {
                      // AJAX call returned failed
                      $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
                      if(result.hasOwnProperty('errors')) {
                          // iterate through and display form validation errors
                          $.each(result.errors, function(k,v) {
                              $("#id_"+k).closest('tr').addClass("has-error");
                              $("#"+k+"-help").html(v);
                          });
                      }
                  }
                  setTimeout("$('#flash-message').fadeOut()",2000);
              }
          }

          $.ajax({
              url: "{% url 'companies:set' 0 %}",
              type: "POST",
              data: $("#company-add-form").serialize(),
              success: onSuccessCallback,
              error: defaultErrorCallback
          });
      }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getCompanies();

    // companies event bindings
    $('#companies-index-table').on('click', 'tr', function () {
        if($(this).data('id')) {
            window.location = "{% url 'companies:detail' 0 %}".replace('0', $(this).data('id'));
	}
    });
{% endblock %}

{% block content %}
 <!-- BEGIN COMPANIES INDEX CONTENT -->

    <!-- BEGIN CONTENT HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Companies</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a onclick="$('#mmodal').modal('show')" role="button" id="create-ticket-button" class="badge" data-toggle="mmodal">Create Company <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEAD -->

    <!-- BEGIN CONTENT BODY -->
    <div class="row">
        <!-- BEING COMPANIES TABLE -->
        <table class="table table-striped table-bordered table-hover col-md-12" id="companies-index-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody id="companies-index-tbody"></tbody>
        </table>
        <!-- END COMPANIES TABLE -->
    </div>
    <!-- END CONTENT BODY -->

    <!-- BEGIN MODAL -->
    <div id="mmodal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="mlabel">Add Company</h3>
                </div>
                <div class="modal-body form">
                    <!-- BEGIN MODAL BODY -->
                    <div id="flash-message"></div>
                    <div id="mbody" class="well">
                      <!-- BEGIN COMPANY FORM -->
                      <form action="{% url 'companies:set' 0 %}" method="POST" class="form-horizontal form-bordered" id="company-add-form">
                        {% csrf_token %}
                        <table class="table table-striped table-bordered table-hover" id="company-profile-form-table">
                          {% for field in companyform %}
                            <tr class="form-group">
                              <td><label class="control-label">{{ field.label_tag }}</label></td>
                              <td>
                                <div class="controls{% if field.errors %} error{% endif %}">
                                  {{ field|addcss:"form-control" }}
                                  <span class="help-inline" id="{{ field.html_name }}-help"></span>
                                </div>
                              </td>
                                </tr>
                            {% endfor %}
                          </table>
                      </form>
                      <!-- END COMPANY FORM -->
                    </div>
                    <!-- END MODAL BODY -->
                </div>
                <div class="modal-footer" id="modalfooter">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="msave" class="btn btn-primary" onclick="addCompany();">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->

 <!-- END COMPANIES INDEX CONTENT -->
{% endblock %}
