{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Administration{% endblock %}
{% block heading %}Administration <small>Services</small>{% endblock %}

{% block breadcrumbs %}
    <li>Services</a></li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
    <script type="text/javascript">
        function getServices() {
            $("#services-index-table").dataTable().fnDestroy();
            $("#services-index-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                    	// AJAX call returned successful
                        for(x in result.data.services) {
                            $("#services-index-tbody").append(' \
                                <tr data-id="'+result.data.services[x].id+'"> \
                                    <td>'+result.data.services[x].name+'</td> \
                                    <td>'+result.data.services[x].coupler+'</td> \
                                    <td>'+result.data.services[x].vars+'</td> \
                                </tr>'
                            );
                        }

                        $("#services-index-table").dataTable({"aoColumnDefs": [],"aaSorting": [[0, 'desc']]});
                    }
                    else {
                        $("#services-index-tbody").html("<tr class='has-error'><td colspan=2><em>"+result.message+"</em></td></tr>");
                    }
                }
            }

            $.ajax({
                url: "{%url 'services:getservices' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function resetServicesForm() {
          $("#set-services-form").trigger('reset');
          $('#set-service-modal').modal('show');
        }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getServices();

    $(document)
        .on('click', 'a.show-set-service-modal', function (e) {
            e.preventDefault();
            resetServicesForm();
        })
{% endblock %}

{% block content %}
 <!-- BEGIN TICKETS INDEX CONTENT -->

    <!-- BEGIN CONTENT HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Services</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a href="#" role="button" class="show-set-service-modal" alt="Create Service"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEAD -->

    <!-- BEGIN CONTENT BODY -->
        <!-- BEING TICKETS TABLE -->
        <table class="table table-striped table-bordered table-hover" id="services-index-table">
            <thead class="row">
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-3">Coupler</th>
                    <th class="col-md-6">Variables</th>
                </tr>
            </thead>
            <tbody id="services-index-tbody"></tbody>
        </table>
        <!-- END TICKETS TABLE -->
    <!-- END CONTENT BODY -->

    <!-- BEGIN MODAL -->
    <div id="set-service-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Create Service</h3>
                </div>
                <div class="modal-body">
                    <!-- BEGIN MODAL BODY -->
                    <div class="modal-alert"></div>
                    <form class="form" role="form" id="set-services-form"></form>
                    <!-- END MODAL BODY -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->

 <!-- END TICKETS INDEX CONTENT -->
{% endblock %}