{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>Server Hosting</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Services</a></li>
	<li>Server Hosting</li>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
	<script type="text/javascript">
		function getServers() {
			$("#servers-table").dataTable().fnDestroy();
			$("#servers-tbody").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						for(x in result.data.servers) {
							var ip = "";
							if(result.data.servers[x].ip) {
								ip = '<a href="{% url 'ip:index' %}'+result.data.servers[x].ip.address+'/'+result.data.servers[x].ip.cidr+'/">'+result.data.servers[x].ip.address+'/'+result.data.servers[x].ip.cidr+'</a>';
							}
							$("#servers-tbody").append(' \
						        <tr data-servid="'+result.data.servers[x].id+'"> \
						        	<td><a href="{% url 'servers:index' service_id %}'+result.data.servers[x].id+'/">'+result.data.servers[x].id+'</a></td> \
						        	<td>'+result.data.servers[x].name+'</td> \
						        	<td>'+result.data.servers[x].type+'</td> \
						        	<td>'+result.data.servers[x].os+'</td> \
						        	<td>'+ip+'</td> \
								</tr>'
							);
						}

						$("#servers-table").dataTable({"aoColumnDefs": [], "aaSorting": [[0, 'asc']]});
					}
					else {
						$("#zones-tbody").html("<tr class='has-error'><td colspan=5><em>"+result.message+"</em></td></tr>");
					}
				}
			}

            $.ajax({
                url: "{%url 'servers:getservers' service_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function setServer() {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
	                $('.modal-alert').html(result.message);
	                $('.modal-alert').fadeIn();

					if(result.success == 1) {
	                    $('.modal-alert').addClass('alert alert-success');
	                    getServers();
	                    setTimeout("$('.modal.in').modal('hide')",500);
					}
					else {
						$('.modal-alert').addClass('alert alert-danger');
	                    if(result.hasOwnProperty('errors')) {
	                        $.each(result.errors, function(k,v) {
	                        	console.log($("#id_"+k).closest('tr'));
	                            $("#id_"+k).closest('tr').addClass("has-error");
	                            $("#"+k+"-help").html(v);
	                        });
	                    }
					}

			        setTimeout("$('.modal-alert').fadeOut()",2000);
			        $('.modal-alert').removeClass().addClass('modal-alert');
				}
			}

            $.ajax({
                url: "{%url 'servers:setserver' service_id %}",
                data: $('#set-server-form').serialize(),
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

	</script>
{% endblock %}

{% block jquery_document_ready %}
	getServers();

    $(document)
        .on('click', 'a.show-set-server-modal', function (e) {
            e.preventDefault();
            $('#set-server-modal').modal('show');
        })
        .on('click', 'a.set-server-form-submit', function (e) {
            e.preventDefault();
            setServer();
        })
{% endblock %}

{% block content %}
 <!-- BEGIN SERVERS INDEX CONTENT -->

    <!-- BEGIN SERVERS CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Servers</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge show-set-server-modal" data-toggle="modal" alt="Create Server">Add Server <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END SERVERS CONTENT HEADER -->

    <!-- BEGIN SERVERS INDEX CONTAINER -->
		<!-- BEGIN SERVERS TABLE -->
		<table class="table table-hover" id="servers-table">
			<thead class="row">
				<tr>
					<th class="col-md-1">ID</th>
					<th class="col-md-3">Name</th>
					<th class="col-md-2">Type</th>
					<th class="col-md-2">OS</th>
					<th class="col-md-2">IP</th>
				</tr>
			</thead>
			<tbody id="servers-tbody"></tbody>
		</table>
		<!-- END SERVERS TABLE -->
	<!-- END SERVERS INDEX CONTAINER -->

	<!-- BEGIN MODAL -->
	<div id="set-server-modal" class="modal fade in" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Set Server</h3>
				</div>
				<div class="modal-body">
					<!-- BEGIN MODAL BODY -->
					<div class="modal-alert"></div>
					<!-- BEGIN SET SERVER FORM -->
					<form id="set-server-form" class="form form-vertical" role="form">
			    		<table class="table table-hover" id="create-contact-form-table">
							{% for field in serverform %}
								<tr class="form-group">
									<td><label class="control-label">{{ field.label_tag }}</label></td>
									<td>
										<div class="controls">
											{{ field|addcss:"form-control" }}
											<span id="{{ field.html_name }}-help" class="help-inline"></span>
										</div>
						        	</td>
						        </tr>
						    {% endfor %}
						</table>
					</form>
					<!-- END SET SERVER FORM -->
					<!-- END MODAL BODY -->
				</div>
				<div class="modal-footer" id="modalfooter">
					<a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
					<a role="button" class="btn btn-primary set-server-form-submit">Ok</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->

 <!-- END SERVERS INDEX CONTENT -->
{% endblock %}