{% extends "base.html" %}

{% load staticfiles %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>Email Hosting</small>{% endblock %}

{% block breadcrumbs %}
    <li><a>Services</a></li>
    <li>Email Hosting</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

    <script type="text/javascript">
        function defaultSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
                $('.modal-alert').html(result.message);
                $('.modal-alert').fadeIn();

                if(result.success == 1) {
                    $('.modal-alert').addClass('alert alert-success');
                    getAccounts();
                    getForwards();
                    setTimeout("$('.modal.in').modal('hide')",500);
                }
                else {
                    $('.modal-alert').addClass('alert alert-danger');
                    if(result.hasOwnProperty('errors')) {
                        $.each(result.errors, function(k,v) {
                            $("#id_"+k).parents('tr').addClass("has-error");
                            $("#"+k+"-help").html(v);
                        });
                    }
                }

                setTimeout("$('.modal-alert').fadeOut()",2000);
                $('.modal-alert').removeClass().addClass('modal-alert');
            }
        }

        function sendPost(url, data) {
            $.ajax({
                url: url,
                data: data,
                type: "POST",
                success: defaultSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function processForwardSelectChange(fwdopt) {
            switch(fwdopt) {
                case 'blackhole':
                    $("#dyn-add-fwd").html("");
                    break;
                case 'fail':
                    $("#dyn-add-fwd").html(' \
                        <tr class="form-group"> \
                            <td><label class="control-label" for="failmsgs">Fail Message</label></td> \
                            <td><input type="text" class="form-control" name="failmsgs" /><span id="failmsgs-help" class="help-block"></span></td> \
                        </tr>'
                    );
                    break;
                case 'system':
                    $("#dyn-add-fwd").html(' \
                        <tr class="form-group"> \
                            <td><label class="control-label" for="fwdsystem">System Account</label></td> \
                            <td><input type="text" class="form-control" name="fwdsystem" /><span id="fwdsystem-help" class="help-block"></span></td> \
                        </tr>'
                    );
                    break;
                case 'fwd':
                    $("#dyn-add-fwd").html(' \
                        <tr class="form-group"> \
                            <td><label class="control-label" for="fwdemail">Email Address</label></td> \
                            <td><input type="text" class="form-control" name="fwdemail" /><span id="fwdemail-help" class="help-block"></span></td> \
                        </tr>'
                    );
                    break;
                case 'pipe':
                    $("#dyn-add-fwd").html(' \
                        <tr class="form-group"> \
                            <td><label class="control-label" for="pipefwd">Pipe Command</label></td> \
                            <td><input type="text" class="form-control" name="pipefwd" /><span id="pipefwd-help" class="help-block"></span></td> \
                        </tr>'
                    );
                    break;
            }
        }

        function getAccounts() {
            $("#email-accounts-table").dataTable().fnDestroy();
            $("#email-accounts-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.accounts) {
                            var output = ' \
                                <tr data-email="' + result.data.accounts[x].email + '"> \
                                    <td>'+result.data.accounts[x].email+'</td> \
                                    <td>'+result.data.accounts[x].login+'</td> \
                                    <td>';

                            // Provide controls to email subaccounts only
                            if(result.data.accounts[x].login != "Main Account") {
                                output += ' \
                                    <a role="button" class="chpw-modal" data-toggle="modal" alt="Change Password"><i class="fa fa-lock" style="color:yellow"></i></a> \
                                    <a role="button" class="quota-modal" data-toggle="modal" alt="Edit Account"><i class="fa fa-dashboard" style="color:green"></i></a> \
                                    <a role="button" class="delacct-modal" data-toggle="modal" alt="Delete Account"><i class="fa fa-trash-o" style="color:red"></i></a>';
                            }

                            output += '</td></tr>';

                            $("#email-accounts-tbody").append(output);
                        }

                        $("#email-accounts-table").dataTable({"aoColumnDefs": [], "aaSorting": [[0, 'asc']]});
                    }
                    else {
                        $("#email-accounts-tbody").html('<tr class="has-error"><td colspan=3><em>'+result.message+'</em></td></tr>');
                    }
                }
            }

            $.ajax({
                url: "{%url 'email:getaccounts' service_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function getForwards() {
            $("#email-forwards-table").dataTable().fnDestroy();
            $("#email-forwards-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.forwards) {
                            $("#email-forwards-tbody").append('<tr data-forward="'+result.data.forwards[x].dest+'"><td>'+result.data.forwards[x].dest+'</td><td>'+result.data.forwards[x].forward+'</td></tr>');
                        }

                        $("#email-forwards-table").dataTable({"aoColumnDefs": [],"aaSorting": [[0, 'asc']]});
                    }
                    else {
                        $("#email-forwards-tbody").html('<tr class="has-error"><td colspan=2><em>'+result.message+'</em></td></tr>');
                    }
                }
            }

            $.ajax({
                url: "{%url 'email:getforwards' service_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function showAddAccountModal() {
            $("#email-add-account-form").trigger('reset');
            $("#add-account-modal").modal('show');
        }

        function showAddForwardModal() {
            $("#email-add-forward-form").trigger('reset');
            $("#add-forward-modal").modal('show');
        }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getAccounts();
    getForwards();

    $(document)
        .on('click', 'a.set-forward-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'email:addfwd' service_id %}", $("#email-add-forward-form").serialize());
        })
        .on('click', 'a.set-account-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'email:addacct' service_id %}", $("#email-add-account-form").serialize());
        })
        .on('click', 'a.chpw-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'email:chpw' service_id %}", $("#email-chpw-form").serialize());
        })
        .on('click', 'a.set-quota-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'email:setquota' service_id %}", $("#email-quota-form").serialize());
        })
        .on('click', 'a.delete-account-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'email:delacct' service_id %}", $("#del-account-form").serialize());
        })
        .on('click', 'a.show-set-forward-modal', function (e) {
            e.preventDefault();
            showAddForwardModal();
        })
        .on('click', 'a.show-set-account-modal', function (e) {
            e.preventDefault();
            showAddAccountModal();
        });

    $('#id_fwdopt').on('change', function() {
        processForwardSelectChange($(this).val());
    });

    $('#email-accounts-tbody')
        .on('click', 'a.chpw-modal', function (e) {
            if($(this).closest('tr').data('email')) {
                e.preventDefault();
                $("#email-chpw-form #email").val($(this).closest('tr').data('email'));
                $("#chpw-modal").modal('show');
            }
        })
        .on('click', 'a.quota-modal', function (e) {
            if($(this).closest('tr').data('email')) {
                e.preventDefault();
                $("#email-quota-form #email").val($(this).closest('tr').data('email'));
                $("#set-quota-modal").modal('show');
            }
        })
        .on('click', 'a.delacct-modal', function (e) {
            if($(this).closest('tr').data('email')) {
                e.preventDefault();
                $("#del-account-form #email").val($(this).closest('tr').data('email'));
                $("#del-account-modal").modal('show');
            }
        });
{% endblock %}

{% block content %}
 <!-- BEGIN EMAIL CONTENT -->

    <!-- BEGIN EMAIL ACCOUNTS CONTENT HEADERR -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Email Accounts</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge show-set-account-modal" data-toggle="modal" alt="Create Account">Add Account <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END EMAIL ACCOUNTS CONTENT HEADER -->

    <!-- BEGIN EMAIL ACCOUNTS CONTAINER -->
        <!-- BEGIN EMAIL ACCOUNTS TABLE -->
        <table class="table table-hover" id="email-accounts-table">
            <thead class="row">
                <tr>
                    <th class="col-md-4">Email</th>
                    <th class="col-md-4">Login</th>
                    <th class="col-md-4 text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="email-accounts-tbody"></tbody>
        </table>
        <!-- END EMAIL ACCOUNTS TABLE -->
    <!-- END EMAIL ACCOUNTS CONTAINER -->

    <!-- BEGIN EMAIL FORWARDS CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Email Forwards</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge show-set-forward-modal" data-toggle="modal" alt="Create Forward">Add Forward <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END EMAIL FORWARDS CONTENT HEADER -->

    <!-- BEGIN EMAIL FORWARDS CONTAINER -->
        <!-- BEGIN EMAIL FORWARDS TABLE -->
        <table class="table table-hover" id="email-forwards-table">
            <thead class="row">
                <tr>
                    <th class="col-md-6">Address</th>
                    <th class="col-md-6">Destination</th>
                </tr>
            </thead>
            <tbody id="email-forwards-tbody"></tbody>
        </table>
        <!-- END EMAIL FORWARDS TABLE -->
    <!-- END EMAIL FORWARDS CONTAINER -->

    <!-- BEGIN DELETE ACCOUNT MODAL -->
    <div id="del-account-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete Account</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>Are you sure you want to delete this email account?</span>
                    <form id="del-account-form" class="form" role="form">
                        <input type="hidden" name="email" id="email" value="0" />
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary delete-account-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END DELETE ACCOUNT MODAL -->

    <!-- BEGIN SET QUOTA MODAL -->
    <div id="set-quota-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set Quota</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN SET QUOTA FORM -->
                    <form id="email-quota-form" role="form" class="form form-vertical">
                        <input type="hidden" name="email" id="email" value="0" />
                        <table class="table table-hover" id="quota-form-table">
                            <tr class="form-group">
                                <td><label class="control-label" for="quota">Set Quota (Mb): </label></td>
                                <td><input type="text" name="quota" class="form-control" id="id_quota" value="0" /><span id="quota-help" class="help-block"></span></td>
                            </tr>
                        </table>
                    </form>
                    <!-- END SET QUOTA FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-quota-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END SET QUOTA MODAL -->

    <!-- BEGIN CHPW MODAL -->
    <div id="chpw-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Change Password</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN CHPW FORM -->
                    <form id="email-chpw-form" role="form" class="form form-vertical">
                        <input type="hidden" name="email" id="email" value="0" />
                        <table class="table table-hover" id="chpw-form-table">
                            <tr class="form-group">
                                <td><label class="control-label" for="password">Password: </label></td>
                                <td><input type="password" class="form-control" id="id_password" name="password" /><span id="password-help" class="help-block"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label" for="password_confirm">Confirm Password: </label></td>
                                <td><input type="password" class="form-control" id="id_password_confirm" name="password_confirm" /><span id="password_confirm-help" class="help-block"></span></td>
                            </tr>
                        </table>
                    </form>
                    <!-- END CHPW FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary chpw-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END CHPW MODAL -->

    <!-- BEGIN ADD ACCOUNT MODAL -->
    <div id="add-account-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Add Account</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN ADD ACCOUNT FORM -->
                    <form id="email-add-account-form" role="form" class="form form-vertical">
                        <table class="table table-hover" id="email-form-table">
                            <tr class="form-group">
                                <td><label class="control-label" for="email">Email: </label></td>
                                <td><input type="text" class="form-control" id="id_email" name="email" /><span id="email-help" class="help-block"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label" for="password">Password: </label></td>
                                <td><input type="password" id="id_password" name="password" class="form-control" /><span id="password-help" class="help-block"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label" for="password_confirm">Confirm Password: </label></td>
                                <td><input type="password" id="id_password_confirm" name="password_confirm" class="form-control" /><span id="password_confirm-help" class="help-block"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label" for="quota">Quota: </label></td>
                                <td><input type="text" id="id_quota" name="quota" class="form-control" value="0" /><span id="quota-help" class="help-block"></span></td>
                            </tr>
                        </table>
                    </form>
                    <!-- END ADD ACCOUNT FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-account-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END ADD ACCOUNT MODAL -->

    <!-- BEGIN ADD FORWARD MODAL -->
    <div id="add-forward-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Add Forward</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN ADD FORWARD FORM -->
                    <form id="email-add-forward-form" role="form" class="form form-vertical">
                        <table class="table table-hover" id="forward-form-table">
                            <tr class="form-group">
                                <td><label class="control-label" for="email">Email: </label></td>
                                <td><input type="text" id="id_email" class="form-control" name="email" /><span id="email-help" class="help-block"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label" for="fwdopt">Type: </label></td>
                                <td>
                                    <select class="form-control" id="id_fwdopt" name="fwdopt" autocomplete="off">
                                        <option value="blackhole">Blackhole</option>
                                        <option value="fail">Fail</option>
                                        <option value="fwd">Foward to Email</option>
                                        <option value="system">Forward to System Acct</option>
                                        <option value="pipe">Pipe</option>
                                    </select>
                                    <span id="fwdopt-help" class="help-block"></span>
                                </td>
                            </tr><tbody id="dyn-add-fwd"></tbody>
                        </table>
                    </form>
                    <!-- END ADD FORWARD FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-forward-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END ADD FORWARD MODAL -->

 <!-- END EMAIL CONTENT -->
{% endblock %}