{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Accounts{% endblock %}
{% block heading %}User Profile <small>{{ user_details.get_full_name }}</small>{% endblock %}

{% block breadcrumbs %}
		<li><a>Accounts</a></i></li>
		<li><a>User</a></i></li>
		<li>{{ user_details.get_full_name }}</li>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		function sendPost(url, data) {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
					$('.modal-alert').html(result.message);
					$('.modal-alert').fadeIn();

					if(result.success == 1) {
						$('.modal-alert').addClass('alert alert-success');
						getLogs();
						getProfile();
						setTimeout("$('.modal.in').modal('hide')",500);
					}
					else {
						$('.modal-alert').addClass('alert alert-danger');
						$.each(result.errors, function(k,v) {
                            $("#id_"+k).closest('div').addClass("has-error");
                            $("#"+k+"-help").html(v);
						});
					}
				}
			}

			$.ajax({
                url: url,
                data: data,
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function changePassword() {
			if($("#id_new_password").val() === $("#id_confirm_password").val()) {
				sendPost('{% url 'contacts:chpw' %}', $('#chpw-form').serializeArray());
			}
			else {
				// Password's don't match
				$('.modal-alert').fadeIn();
				$('.modal-alert').addClass('alert alert-danger');
				$('.modal-alert').html('Passwords do not match.');
			}
			return false;
		}

		function getProfile() {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						$("#user-profile-name").html(result.data.contact.first_name+' '+result.data.contact.last_name);
						$("#user-profile-email").html(result.data.contact.email);
						$("#user-profile-title").html(result.data.contact.title);
						$("#user-profile-personal-phone").html(result.data.contact.personal_phone);
						$("#user-profile-office-phone").html(result.data.contact.office_phone);
						$("#user-profile-fax").html(result.data.contact.fax);
						$("#user-profile-role").html(result.data.contact.role);
						$("#user-profile-status").html(result.data.contact.is_active);

						if(result.data.contact.is_active) {
							$("#user-profile-status").html("Active");
						}
						else {
							$("#user-profile-status").html("Inactive");
						}

						if(result.data.contact.notifications) {
							$("#user-profile-notifications").html("Yes");
						}
						else {
							$("#user-profile-notifications").html("No");
						}

						$("#id_email").val(result.data.contact.email);
						$("#id_first_name").val(result.data.contact.first_name);
						$("#id_last_name").val(result.data.contact.last_name);
						$("#id_title").val(result.data.contact.title);
						$("#id_personal_phone").val(result.data.contact.personal_phone);
						$("#id_office_phone").val(result.data.contact.office_phone);
						$("#id_fax").val(result.data.contact.fax);
						$("#id_role").val(result.data.contact.role);
					}
					else {
						$('.modal-alert').fadeIn();
						$('.modal-alert').html('<div class="alert alert-danger">'+result.message+'</div>');
					}
				}
			}

			$.ajax({
                url: "{% url 'contacts:get' user_details.id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function getLogs() {
			$("#auth-feed").html("");
			$("#action-feed").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						if(result.data.authentication.length == 0) {
							$("#auth-feed").html("<li><em>Contact has yet to login.</em></li>");
						}
						else {
							for(x in result.data.authentication) {
								$("#auth-feed").append(' \
									<li> \
										<div class="pull-right">'+result.data.authentication[x].timestamp+'</div> \
										<div>'+result.data.authentication[x].user+' '+result.data.authentication[x].category+' from '+result.data.authentication[x].ip+'</div> \
									</li>'
								);
							}
						}

						if(result.data.action.length == 0) {
							$("#action-feed").html("<li><em>No actions to report.</em></li>");
						}
						else {
							for(x in result.data.action) {
								$("#action-feed").append(' \
									<li> \
										<div class="pull-right">'+result.data.action[x].timestamp+'</div> \
										<div>'+result.data.action[x].actor + ' ' + result.data.action[x].action+'</div> \
									</li>'
								);
							}
						}
					}
				}
			}

			$.ajax({
                url: "{% url 'contacts:getlogs' user_details.id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getProfile();
	getLogs();

	$(document)
        .on('click', 'a.set-contact-form-submit', function (e) {
            e.preventDefault();
            sendPost('{% url 'contacts:set' %}', $('#user-id_form').serializeArray());
        })
        .on('click', 'a.show-set-contact-modal', function (e) {
            e.preventDefault();
            $('.modal-alert').html('');
            $('#set-contact-modal').modal('show');
        });
{% endblock %}

{% block content %}
 <!-- BEGIN CONTACT CONTENT -->

    <!-- BEGIN CONTACT PROFILE CONTAINER -->
    	<!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-6"><h3>Profile</h3></div>
		        {% if user.id == user_details.id or user.is_admin %}
			        <div class="col-md-6 text-right">
			            <div class="btn-group">
			                <a role="button" class="badge show-set-contact-modal" data-toggle="modal">Edit Profile <i class="fa fa-plus"></i></a>
			            </div>
			        </div>
		        {% endif %}
	    </div>
	    <!-- END CONTAINER HEAD -->

	    <!-- BEGIN CONTAINER BODY -->
	    <div class="row">
	    	<h4 id="user-profile-name" style="margin-left: 20px" class="col-md-12"></h4>
	    </div>
	    <div class="row">
			<div class="col-md-8">
				<!-- BEGIN CONTACT PROFILE -->
				<div style="padding-left: 40px; margin-bottom: 20px">
					<div class="row">
						<label class="control-label col-md-6">Title</label>
						<span class="col-md-6" id="user-profile-title"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-6">Email Address</label>
						<span class="col-md-6" id="user-profile-email"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-6">Personal Phone Number</label>
						<span class="col-md-6" id="user-profile-personal-phone"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-6">Office Phone Number</label>
						<span class="col-md-6" id="user-profile-office-phone"></span>
					</div>
					<div class="row">
						<label class="control-label col-md-6">Fax Number</label>
						<span class="col-md-6" id="user-profile-fax"></span>
					</div>
				</div>
				<!-- END CONTACT PROFILE -->
			</div>
			<div class="col-md-4">
				<div class="row">
					<label class="control-label col-md-6">Status:</label>
					<span class="col-md-6" id="user-profile-status"></span>
				</div>
				<div class="row">
					<label class="control-label col-md-6">Access</label>
					<span class="col-md-6" id="user-profile-role"></span>
				</div>
				<div class="row">
					<label class="control-label col-md-6">Notifications:</label>
					<span class="col-md-6" id="user-profile-notifications"></span>
				</div>
			</div>
	    </div>
	    <!-- END CONTAINER BODY -->
    <!-- END CONTACT PROFILE CONTAINER -->

	<!-- BEING CONTACT HISTORY CONTAINER -->
	     <!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-12">
	        	<h3>History</h3>
	        </div>
	    </div>
	    <!-- END CONTAINER HEAD -->

	    <!-- BEGIN CONTAINER BODY -->
	    <div class="row">
			<div class="tabbable tabbable-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#activites-tab" data-toggle="tab">Authentication</a></li>
					<li><a href="#recent-users-tab" data-toggle="tab">Activities</a></li>
				</ul>
				<div class="tab-content" style="height: 250px; overflow: auto; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 20px 0 20px">
					<!-- BEGIN ACTIVITIES TAB -->
					<div class="tab-pane active" id="activites-tab">
						<ul class="feeds list-unstyled" id="auth-feed"></ul>
					</div>
					<!-- END ACTIVITIES TAB -->
					<!-- BEGIN RECENT USERS TAB -->
					<div class="tab-pane" id="recent-users-tab">
						<ul class="feeds list-unstyled" id="action-feed"></ul>
					</div>
					<!-- END RECENT USERS TAB -->
				</div>
			</div>
	    </div>
	    <!-- END CONTAINER BODY -->
    <!-- END CONTACT HISTORY CONTAINER -->

	<!-- BEGIN MODAL -->
	<div id="set-contact-modal" class="modal fade in" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Contact Profile</h3>
				</div>
				<div class="modal-body">
					<div class="modal-alert"></div>
					<!-- BEGIN CONTACT FORM -->
					<form id="user-id_form" class="form form-vertical" role="form">
					    <input type="hidden" name="user_id" id="id_user_id" value="{{ user_details.id }}" />
                    	<table class="table table-hover" id="contact-form-table">
                      		{% for field in contactform %}
	                            <tr class="form-group">
	                              <td><label class="control-label">{{ field.label_tag }}</label></td>
	                              <td>
	                                <div class="controls{% if field.errors %} error{% endif %}">
	                                  {{ field|addcss:"form-control" }}
	                                  <span class="help-inline" id="{{ field.html_name }}-help"></span>
	                                </div>
	                              </td>
	                            </tr>
                        	{% endfor %}
                        </table>
					</form>
					<!-- END CONTACT FORM -->
				</div>
				<div class="modal-footer">
					<a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
					<a role="button" class="btn btn-primary set-contact-form-submit">Ok</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->

 <!-- END CONTACT CONTENT -->
{% endblock %}