{% extends "base.html" %}

{% load staticfiles %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>FTP Hosting</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Services</a></li>
	<li>FTP Hosting</li>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

	<script type="text/javascript">
		var accounts = [];	// Local storage for retrieve FTP accounts

        function defaultSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
                $('.modal-alert').html(result.message);
                $('.modal-alert').fadeIn();

                if(result.success == 1) {
                    $('.modal-alert').addClass('alert alert-success');
                    getAccounts();
                    setTimeout("$('.modal.in').modal('hide')",500);
                }
                else {
                    $('.modal-alert').addClass('alert alert-danger');
                    if(result.hasOwnProperty('errors')) {
                        $.each(result.errors, function(k,v) {
                            $("#id_"+k).parents('tr').addClass("has-error");
                            $("#"+k+"-help").html(v);
                        });
                    }
                }

                setTimeout("$('.modal-alert').fadeOut()",2000);
                $('.modal-alert').removeClass().addClass('modal-alert');
            }
        }

		function getSessions() {
			$("#ftp-sessions-tbody").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						if(result.data.sessions.length == 0) {
							$("#ftp-sessions-tbody").html('<tr><td colspan=7><em>No active sessions.</em></td></tr>');
						}
						else {
							for(session in result.data.sessions) {
								$("#ftp-sessions-tbody").append(' \
							        <tr> \
							        	<td>'+ result.data.sessions[session].user +'</td> \
							        	<td>'+ result.data.sessions[session].file +'</td> \
							        	<td>'+ result.data.sessions[session].login +'</td> \
							        	<td>'+ result.data.sessions[session].host +'</td> \
							        	<td>'+ result.data.sessions[session].status +'</td> \
									</tr>'
								);
							}
						}
					}
				}
			}

			$.ajax({
                url: "{% url 'ftp:getsessions' service_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function getAccounts() {
			$("#ftp-accounts-table").dataTable().fnDestroy();
			$("#ftp-accounts-tbody").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						accounts = result.data.accounts;   // Save accounts for as local variable for showAcctDetails()
						for(account in result.data.accounts) {
							var rowctrl = "";
							if(result.data.accounts[account].accttype == "sub") {		// Only accounts of accttype "sub" get operations buttons
								rowctrl = ' \
									<a role="button" href="#" class="chpw-modal" alt="Change Password"><i class="fa fa-lock" style="color:yellow"></i></a> \
							     	<a role="button" href="#" class="quota-modal" alt="Set Quota"><i class="fa fa-dashboard" style="color:green"></i></a>';

								if(result.data.accounts[account].deleteable == 1) {		// Only deleteable accounts have option to delete
									rowctrl = rowctrl + '<a href="#" class="del-modal" role="button" alt="Delete Account"><i class="fa fa-trash-o" style="color:red"></i></a>';
								}
							}

							$("#ftp-accounts-tbody").append(' \
								<tr data-account="'+ result.data.accounts[account].login + '"> \
									<td><a class="acctdetail-modal" role="button" data-toggle="modal" alt="Account Details">'+ result.data.accounts[account].login + '</a></td> \
									<td>'+ result.data.accounts[account].accttype + '</td> \
									<td>'+ result.data.accounts[account].dir + '</td> \
									<td>'+ result.data.accounts[account].diskquota + '</td> \
									<td>'+ result.data.accounts[account].humandiskused + '</td> \
									<td class="text-center">'+ rowctrl + '</td> \
								</tr>'
							);
						}

						$("#ftp-accounts-table").dataTable({"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 5 ] }], "aaSorting": [[0, 'asc']]});
					}
				}
			}

			$.ajax({
                url: "{% url 'ftp:getaccounts' service_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function showAcctDetails(account) {
			var output = "Account not found.";
			$.each(accounts, function( key, value ) {
				if(value.login == account) {
					output = ' \
						<table class="table table-striped table-bordered table-hover"> \
							<tr><td>Disk Quota (Mb): </td><td>' + value.diskquota + '</td></tr> \
							<tr><td>Disk Quota (b): </td><td>' + value._diskquota + '</td></tr> \
							<tr><td>Disk Used %: </td><td>' + value.diskusedpercent + '</td></tr> \
							<tr><td>Disk Used (Mb): </td><td>' + value.diskused + '</td></tr> \
							<tr><td>Human Disk Quota: </td><td>' + value.humandiskquota + '</td></tr> \
							<tr><td>Relative Directory: </td><td>' + value.reldir + '</td></tr> \
							<tr><td>Account Type: </td><td>' + value.accttype + '</td></tr> \
							<tr><td>Disk Used (b): </td><td>' + value._diskused + '</td></tr> \
							<tr><td>Login: </td><td>' + value.login + '</td></tr> \
							<tr><td>Absolute Directory: </td><td>' + value.dir + '</td></tr> \
							<tr><td>Deletable: </td><td>' + value.deletable + '</td></tr> \
							<tr><td>Server Login: </td><td>' + value.serverlogin + '</td></tr> \
							<tr><td>Human Disk Used: </td><td>' + value.humandiskused + '</td></tr> \
							<tr><td>Disk Used %: </td><td>' + value.diskusedpercent20 + '</td></tr> \
							<tr><td>Disk Quota: </td><td>' + value._diskquota + '</td></tr> \
						</table>';
					return false;
				}
			});

			$("#account-details-modal #mbody").html(output);
			$("#account-details-modal").modal('show');
		}

		function sendPost(url, data) {
			$.ajax({
                url: url,
                data: data,
                type: "POST",
                success: defaultSuccessCallback,
                error: defaultErrorCallback
            });
		}

		function showAddAccountModal() {
			$("#add-account-form").trigger('reset');
			$("#add-account-modal").modal('show');
		}
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getAccounts();
	getSessions();

    $(document)
        .on('click', 'a.show-set-account-modal', function (e) {
            e.preventDefault();
            showAddAccountModal();
        })
        .on('click', 'a.set-account-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'ftp:addacct' service_id %}", $("#add-account-form").serialize());
        })
        .on('click', 'a.delete-account-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'ftp:delacct' service_id %}", $("#del-account-form").serialize());
        })
        .on('click', 'a.set-quota-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'ftp:setquota' service_id %}", $("#set-quota-form").serialize());
        })
        .on('click', 'a.chpw-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'ftp:chpw' service_id %}", $("#chpw-form").serialize());
        });

    $('#ftp-accounts-tbody')
    	.on('click', 'a.chpw-modal', function (e) {
    		if($(this).closest('tr').data('account')) {
	        	e.preventDefault();
		        $("#chpw-form #username").val($(this).closest('tr').data('account'));
		        $("#chpw-modal").modal('show');
	        }
    	})
    	.on('click', 'a.quota-modal', function (e) {
    		if($(this).closest('tr').data('account')) {
		        e.preventDefault();
		        $("#set-quota-form #username").val($(this).closest('tr').data('account'));
		        $("#set-quota-modal").modal('show');
		    }
    	})
		.on('click', 'a.del-modal', function (e) {
			if($(this).closest('tr').data('account')) {
		        e.preventDefault();
		        $("#del-account-form #username").val($(this).closest('tr').data('account'));
		        $("#del-account-modal").modal('show');
	        }
    	})
    	.on('click', 'a.acctdetail-modal', function (e) {
    		if($(this).closest('tr').data('account')) {
	        	e.preventDefault();
	        	showAcctDetails($(this).closest('tr').data('account'));
	        }
    	});
{% endblock %}

{% block content %}
 <!-- BEGIN FTP CONTENT -->

    <!-- BEGIN CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>FTP Accounts</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge show-set-account-modal" data-toggle="modal" alt="Create Account">Add Account <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEADER -->

    <!-- BEGIN FTP ACCOUNTS CONTAINER -->
		<!-- BEGIN FTP ACCOUNTS TABLE -->
		<table class="table table-hover" id="ftp-accounts-table">
			<thead class="row">
				<tr>
					<th class="col-md-2">User</th>
					<th class="col-md-2">Type</th>
					<th class="col-md-3">Homedir</th>
					<th class="col-md-2">Disk Quota <small>(Mb)</small></th>
					<th class="col-md-2">Disk Usage</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody id="ftp-accounts-tbody"></tbody>
		</table>
		<!-- END FTP ACCOUNTS TABLE -->
	<!-- END FTP ACCOUNTS CONTAINER -->

    <!-- BEGIN CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-12"><i class="fa fa-edit"></i>&nbsp;<h3>FTP Sessions</h3></div>
    </div>
    <!-- END CONTENT HEADER -->

    <!-- BEGIN FTP SESSIONS CONTAINER -->
		<!-- BEGIN FTP SESSIONS TABLE -->
		<table class="table table-hover" id="ftp-sessions-table">
			<thead class="row">
				<tr>
					<th class="col-md-3">User</th>
					<th class="col-md-3">File</th>
					<th class="col-md-2">Login</th>
					<th class="col-md-2">Host</th>
					<th class="col-md-2">Status</th>
				</tr>
			</thead>
			<tbody id="ftp-sessions-tbody"></tbody>
		</table>
		<!-- END FTP SESSIONS TABLE -->
	<!-- END FTP SESSIONS CONTAINER -->

    <!-- BEGIN ACCOUNT DETAILS MODAL -->
    <div id="account-details-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Account Details</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END ACCOUNT DETAILS MODAL -->

    <!-- BEGIN ADD ACCOUNT MODAL -->
    <div id="add-account-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Add Account</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                	<!-- BEGIN ADD ACCOUNT FORM -->
					<form id="add-account-form" role="form" class="form form-vertical">
						<table class="table table-hover" id="add-ftp-form-table">
							<tr class="form-group">
								<td><label class="control-label" for="username">Username: </label></td>
								<td><input type="text" name="username" id="id_username" class="form-control" /><span id="username-help" class="help-block"></span></td>
							</tr>
							<tr class="form-group">
								<td><label class="control-label" for="password">Password: </label></td>
								<td><input type="password" name="password" id="id_password" class="form-control" /><span id="password-help" class="help-block"></span></td>
							</tr>
							<tr class="form-group">
								<td><label class="control-label" for="password_confirm">Confirm Password: </label></td>
								<td><input type="password" class="form-control" name="password_confirm" id="id_password_confirm" /><span id="password_confirm-help" class="help-block"></span></td>
							</tr>
							<tr class="form-group">
								<td><label class="control-label" for="quota">Quota: </label></td>
								<td><input type="text" name="quota" class="form-control" value="0" id="id_quota" /><span id="quota-help" class="help-block"></span></td>
							</tr>
							<tr class="form-group">
								<td><label class="control-label" for="homedir">Homedir: </label></td>
								<td><input type="text" class="form-control" name="homedir" id="id_homedir" /><span id="homedir-help" class="help-block"></span></td>
							</tr>
						</table>
					</form>
					<!-- END ADD ACCOUNT FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-account-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END ADD ACCOUNT MODAL -->

    <!-- BEGIN DELETE ACCOUNT MODAL -->
    <div id="del-account-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete Account</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                	<span>Are you sure you want to delete this account?</span>
                	<form id="del-account-form" role="form" class="form">
                		<input type="hidden" name="username" id="username" value="0" />
                		<input type="hidden" name="destroy" value="0" />
                	</form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary delete-account-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END MODAL -->

    <!-- BEGIN SET QUOTA MODAL -->
    <div id="set-quota-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set Quota</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                	<!-- BEGIN SET QUOTA FORM -->
					<form id="set-quota-form" role="form" class="form form-vertical">
						<input type="hidden" id="username" name="username" value="0" />
						<table class="table table-hover" id="chpw-form-table">
							<tr class="form-group">
								<td><label class="control-label" for="quota">Set Quota (Mb): </label></td>
								<td><input type="text" name="quota" id="id_quota" value="0" class="form-control" /><span id="quota-help" class="help-block">Use 0 for unlimited.</span></td>
							</tr>
						</table>
					</form>
					<!-- END SET QUOTA FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-quota-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END SET QUOTA MODAL -->

    <!-- BEGIN CHPW MODAL -->
    <div id="chpw-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Change Password</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                	<!-- BEGIN CHPW FORM -->
					<form id="chpw-form" role="form" class="form form-vertical">
						<input type="hidden" name="username" value="0" id="username" />
						<table class="table table-hover" id="chpw-form-table">
							<tr class="form-group">
								<td><label class="control-label" for="password">Password: </label></td>
								<td><input type="password" name="password" id="id_password" class="form-control" /><span id="password-help" class="help-block"></span></td>
							</tr>
							<tr class="form-group">
								<td><label class="control-label" for="password_confirm">Confirm Password: </label></td>
								<td><input type="password" name="password_confirm" id="id_password_confirm" class="form-control" /><span id="password_confirm-help" class="help-block"></span></td>
							</tr>
						</table>
					</form>
					<!-- END CHPW FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary chpw-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END CHPW MODAL -->

 <!-- END FTP CONTENT -->
{% endblock %}