{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Administration{% endblock %}
{% block heading %}Administration <small>Knowledgebase</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a><i class="fa fa-circle"></i></li>
	<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a><i class="fa fa-circle"></i></li>
  {% if article_id > 0 %}
	 <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-category-title"></a><i class="fa fa-circle"></i></li>
   <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-article-title"></a><i class="fa fa-circle"></i></li>
  {% endif %}
  <li>Administration</li>
{% endblock %}

{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}" />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{% static 'plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block inline_js %}
    // Fetch Knowledgebase Tag
    function getTag(tag_id) {
        if(tag_id !== parseInt(tag_id, 10)) {
            console.log("Invalid Tag ID passed to getTag().");
            return False;
        }

        $.ajax({
            url: "/api/knowledgebase/tags/"+tag_id+"/?format=json",
            type: "GET",
        })
        .done(function(result) {
            $("#set-tag-form #tag_id").val(tag_id);
            $.each(result, function(x,y) {
              $("#set-tag-form #id_"+x).val(y);
            });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Failed to getTag(" + tag_id + "): " + textStatus);
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-danger">There was an error fetching the Tag details.</div>');
        });
    }

    // Create or update Knowledgebase Tag
    function setTag() {
        var tag_id = $("#set-tag-form #tag_id").val();

        var http_verb = "POST";
        var http_url = "/api/knowledgebase/tags/";

        if(tag_id > 0) {
            http_verb = "PUT";
            http_url += tag_id + "/";
        }

        $.ajax({
            url: http_url,
            type: http_verb,
            data: $("#set-tag-form").serialize(),
        })
        .done(function(result) {
            console.log("Tag " + tag_id + " updated successfuly.");
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-success">Tag updated successfully.</div>');
            getTags();
            setTimeout("$('.modal.in').modal('hide')",500);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Failed to setTag()"+tag_id+": "+textStatus);
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-danger">Failed to update Tag.</div>');

            $.each(jqXHR["responseJSON"], function(key, value) {
                $("#set-tag-form #id_"+key).closest('tr').addClass("has-error");
                $("#set-tag-form #"+key+"-help").html(value);
            });
        });
    }

    // Fetch Knowledgebase Tags
    function getTags() {
      $("#id_tags").html("");
      $("#tags-table-tbody").html("");

      $.ajax({
          url: "/api/knowledgebase/tags/?format=json",
          type: "GET",
      })
      .done(function(result) {
        if(!result.count) {
          $("#tags-table-tbody").html('<tr><td colspan=2><em>No tags defined.</em></td></tr>');
        }
        else {
          for(x in result.results) {
            $("#id_tags").append('<OPTION value="'+result.results[x].id+'">'+result.results[x].title+'</OPTION>');
            $("#tags-table-tbody").append(' \
              <tr data-id="'+result.results[x].id+'"> \
                <td><input type="checkbox" value="1" class="checkboxes tag-checkbox"></td> \
                <td>'+result.results[x].title+'</td> \
              </tr>'
            );
          }
        }
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("Failed to getTags(): " + textStatus);
          $("#tags-table-tbody").html('<tr><td colspan=2><em>There was an error fetching the tags index.</em></td></tr>');
      });
    }


    // Delete Knowledgebase Tag
    function deleteTag() {
      var tag_id = $("#del-tag-form #tag_id").val();

      $.ajax({
        url: "/api/knowledgebase/tags/"+tag_id+"/?format=json",
        type: "DELETE",
      })
      .done(function(result) {
        console.log("Tag " + tag_id + " deleted successfuly.");
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-success">Tag deleted successfully.</div>');
        getTags();
        setTimeout("$('.modal.in').modal('hide')",500);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("Failed to deleteTag("+tag_id+"): " + textStatus);
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-danger">Failed to delete Tag.</div>');
      });

      $('.modal-alert').fadeOut();
    }

    // Fetch Knowledgebase Categories
    function getCategories() {
      $("#id_category").html("");
      $("#categories-table-tbody").html("");

      $.ajax({
          url: "/api/knowledgebase/categories/?format=json",
          type: "GET",
      })
      .done(function(result) {
        if(!result.count) {
          $("#categories-table-tbody").html('<tr><td colspan=2><em>No categories defined.</em></td></tr>');
        }
        else {
          for(x in result.results) {
            $("#id_category").append('<OPTION value="'+result.results[x].id+'">'+result.results[x].title+'</OPTION>');
            $("#categories-table-tbody").append(' \
              <tr data-id="'+result.results[x].id+'"> \
                <td><input type="checkbox" value="1" class="checkboxes category-checkbox"></td> \
                <td>'+result.results[x].title+'</td> \
              </tr>'
            );
          }
        }
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("Failed to getCategories(): " + textStatus);
          $("#categories-table-tbody").html('<tr class="has-error"><td colspan=2><em>There was an error fetching the Categories index.</em></td></tr>');
      });
    }

    // Fetch Knowledgebase Category
    function getCategory(category_id) {
        if(category_id !== parseInt(category_id, 10)) {
            console.log("Invalid Category ID passed to getTag().");
            return False;
        }

        $.ajax({
            url: "/api/knowledgebase/categories/"+category_id+"/?format=json",
            type: "GET",
        })
        .done(function(result) {
            $("#set-category-form #category_id").val(category_id);
            $.each(result, function(x,y) {
              $("#set-category-form #id_"+x).val(y);
            });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Failed to getCategory(" + category_id + "): " + textStatus);
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-danger">There was an error fetching the Category details.</div>');
        });
    }

    // Create or update Knowledgebase Category
    function setCategory() {
        var category_id = $("#set-category-form #category_id").val();

        var http_verb = "POST";
        var http_url = "/api/knowledgebase/categories/";

        if(category_id > 0) {
            http_verb = "PUT";
            http_url += category_id + "/";
        }

        $.ajax({
            url: http_url,
            type: http_verb,
            data: $("#set-category-form").serialize(),
        })
        .done(function(result) {
            console.log("Category " + category_id + " set successfuly.");
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-success">Category updated successfully.</div>');
            getCategories();
            setTimeout("$('.modal.in').modal('hide')",500);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Failed to setCategory("+category_id+"): "+textStatus);
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-danger">Failed to update Category.</div>');

            $.each(jqXHR["responseJSON"], function(key, value) {
                $("#set-category-form #id_"+key).closest('tr').addClass("has-error");
                $("#set-category-form #"+key+"-help").html(value);
            });
        });
    }

    // Delete Knowledgebase Category
    function deleteCategory() {
      var category_id = $("#del-category-form #category_id").val();

      $.ajax({
        url: "/api/knowledgebase/categories/"+category_id+"/?format=json",
        type: "DELETE",
      })
      .done(function(result) {
        console.log("Category " + category_id + " deleted successfuly.");
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-success">Category deleted successfully.</div>');
        getCategories();
        setTimeout("$('.modal.in').modal('hide')",500);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("Failed to deleteCategory("+category_id+"): " + textStatus);
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-danger">Failed to delete Category.</div>');
      });

      $('.modal-alert').fadeOut();
    }

    // Fetch Knowledgebase Articles
    function getArticles() {
      $('#articles-table').dataTable().fnDestroy();
      $("#articles-table-tbody").html("");

      $.ajax({
          url: "/api/knowledgebase/articles/?format=json",
          type: "GET",
      })
      .done(function(result) {
        for(x in result.results) {
          $("#articles-table-tbody").append(' \
            <tr data-id="'+result.results[x].id+'" data-status="'+result.results[x].status+'"> \
              <td><input type="checkbox" value="1" class="checkboxes article-checkbox"></td> \
              <td><a href="'+"{% url "knowledgebase:detail" 0 %}".replace(0, result.results[x].id)+'">'+result.results[x].title+'</a></td> \
              <td><a href="'+"{% url "contacts:detail" 0 %}".replace(0, result.results[x].author)+'">'+result.results[x].author_name+'</a></td> \
              <td>'+result.results[x].views+'</td> \
              <td>'+result.results[x].category_name+'</td> \
              <td>'+result.results[x].tags+'</td> \
              <td>'+result.results[x].created+'</td> \
              <td>'+result.results[x].status+'</td> \
            </tr>'
          );
        }

        initArticlesTable();

      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("Failed to getArticles(): " + textStatus);
          $("#articles-table-tbody").html('<tr class="has-error"><td colspan=8><em>There was an error fetching the articles index.</em></td></tr>');
      });
    }

    // Fetch Knowledgebase Article
    function getArticle(article_id) {
      $.ajax({
          url: "/api/knowledgebase/articles/"+article_id+"/?format=json",
          type: "GET",
      })
      .done(function(result) {
          $("#set-article-form #article_id").val(result.id);
          $("#set-article-form #id_title").val(result.title);
          $("#set-article-form #id_contents").val(result.contents);
          $("#set-article-form #id_views").val(result.views);
          $("#set-article-form #id_category").val(result.category_id);
          for(x in result.tags) {
            $("#set-article-form #id_tags option[value='"+result.tags[x].id+"']").prop("selected", true);
          }
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
          console.log("Failed to getArticle("+article_id+"): " + textStatus);
          $('.modal-alert').html('<div class="alert alert-danger">There was an error retrieving the article details.</div>');
      });
    }

    // Create or update Knowledgebase Article
    function setArticle(article_id, data) {
        var http_verb = "POST";
        var http_url = "/api/knowledgebase/articles/";

        if(article_id > 0) {
            http_verb = "PATCH";
            http_url += article_id + "/";
        }

        $.ajax({
            url: http_url,
            type: http_verb,
            data: data,
        })
        .done(function(result) {
            console.log("Article " + article_id + " set successfuly.");
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-success">Article updated successfully.</div>');
            getArticles();
            setTimeout("$('.modal.in').modal('hide')",500);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Failed to setArticle("+article_id+"): "+textStatus);
            $('.modal-alert').fadeIn();
            $('.modal-alert').html('<div class="alert alert-danger">Failed to update Article.</div>');

            $.each(jqXHR["responseJSON"], function(key, value) {
                $("#set-article-form #id_"+key).closest('tr').addClass("has-error");
                $("#set-article-form #"+key+"-help").html(value);
            });
        });
    }

    // Delete Knowledgebase Article
    function deleteArticle() {
      var article_id = $("#del-article-form #article_id").val();

      $.ajax({
        url: "/api/knowledgebase/articles/"+article_id+"/?format=json",
        type: "DELETE",
      })
      .done(function(result) {
        console.log("Article " + article_id + " deleted successfuly.");
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-success">Article deleted successfully.</div>');
        getArticles();
        setTimeout("$('.modal.in').modal('hide')",500);
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log("Failed to deleteArticle("+article_id+"): " + textStatus);
        $('.modal-alert').fadeIn();
        $('.modal-alert').html('<div class="alert alert-danger">Failed to delete Article.</div>');
      });

      $('.modal-alert').fadeOut();
    }

      var initArticlesTable = function () {

          var table = $('#articles-table');

          table.dataTable({

              // Internationalisation. For more info refer to http://datatables.net/manual/i18n
              "language": {
                  "aria": {
                      "sortAscending": ": activate to sort column ascending",
                      "sortDescending": ": activate to sort column descending"
                  },
                  "emptyTable": "No data available in table",
                  "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                  "infoEmpty": "No entries found",
                  "infoFiltered": "(filtered1 from _MAX_ total entries)",
                  "lengthMenu": "Show _MENU_ entries",
                  "search": "Search:",
                  "zeroRecords": "No matching records found"
              },

              "bDestroy": true,
              "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

              "lengthMenu": [
                  [10, 20, -1],
                  [10, 20, "All"] // change per page values here
              ],
              // set the initial value
              "pageLength": 10,
              "language": {
                  "lengthMenu": " _MENU_ records",
                  "paging": {
                      "previous": "Prev",
                      "next": "Next"
                  }
              },
              "columnDefs": [{  // set default column settings
                  'orderable': false,
                  'targets': [0]
              }, {
                  "searchable": false,
                  "targets": [0]
              }],
              "order": [
                  [1, "desc"]
              ] // set first column as a default sort by asc
          });
      }
{% endblock %}

{% block jquery_document_ready %}
	getTags();
	getCategories();
  getArticles();

  $(document)
      .on('click', 'a.set-article-form-submit', function (e) {
          e.preventDefault();
          if($("#set-article-form #id_status").val()=="on") {
            $("#set-article-form #id_status").val(true);
          }

          setArticle($("#set-article-form #article_id").val(), $("#set-article-form").serialize());
      })
      .on('click', 'a.set-tag-form-submit', function (e) {
          e.preventDefault();
          setTag();
      })
      .on('click', 'a.set-category-form-submit', function (e) {
          e.preventDefault();
          setCategory();
      })
      .on('click', 'a.show-set-category-modal', function (e) {
          e.preventDefault();
          resetModalForm("set-category", "category_id");
      })
      .on('click', 'a.show-set-tag-modal', function (e) {
          e.preventDefault();
          resetModalForm("set-tag", "tag_id");
      })
      .on('click', 'a.show-set-article-modal', function (e) {
          e.preventDefault();
          resetModalForm("set-article", "article_id");
      })
      .on('click', 'a.toggle-status', function (e) {
          e.preventDefault();
          $("#articles-table-tbody input[type=checkbox]:checked").each(function() {
            setArticle($(this).closest('tr').data('id'), {"status": !$(this).closest('tr').data('status')});
          });
      })
      .on('click', 'a.edit-category', function (e) {
          e.preventDefault();
          if($("#categories-table-tbody input[type=checkbox]:checked").length == 1) {
            var category_id = $("#categories-table-tbody input[type=checkbox]:checked").closest('tr').data('id');
            if(category_id) {
              resetModalForm("set-category", "category_id");
              getCategory(category_id);
            }
          }
      })
      .on('click', 'a.edit-tag', function (e) {
          e.preventDefault();
          if($("#tags-table-tbody input[type=checkbox]:checked").length == 1) {
            var tag_id = $("#tags-table-tbody input[type=checkbox]:checked").closest('tr').data('id');
            if(tag_id) {
              resetModalForm("set-tag", "tag_id");
              getTag(tag_id);
            }
          }
      })
      .on('click', 'a.edit-article', function (e) {
          e.preventDefault();
          if($("#articles-table-tbody input[type=checkbox]:checked").length == 1) {
            var article_id = $("#articles-table-tbody input[type=checkbox]:checked").closest('tr').data('id');
            if(article_id) {
              resetModalForm("set-article", "article_id");
              getArticle(article_id);
            }
          }
      });

    $("#articles-checkall").on('click', function(){
        if(this.checked) {
            $('.article-checkbox').each(function() {
              this.checked = true;
            });
        }else{
            $('.article-checkbox').each(function() {
              this.checked = false;
            });
        }
    });

    $("#tags-checkall").on('click', function(){
        if(this.checked) {
            $('.tag-checkbox').each(function() {
              this.checked = true;
            });
        }else{
            $('.tag-checkbox').each(function() {
              this.checked = false;
            });
        }
    });

    $("#categories-checkall").on('click', function(){
        if(this.checked) {
            $('.category-checkbox').each(function() {
              this.checked = true;
            });
        }else{
            $('.category-checkbox').each(function() {
              this.checked = false;
            });
        }
    });
{% endblock %}

{% block content %}
    <!-- BEGIN KB ARTICLES PORTLET -->
    <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Articles</span>
          </div>
          <div class="actions btn-set">
            <a class="btn green-haze btn-circle show-set-article-modal" href="javascript:;"><i class="fa fa-check"></i> Add</a>
            <div class="btn-group">
              <a data-toggle="dropdown" href="javascript:;" class="btn yellow btn-circle" aria-expanded="false">
              <i class="fa fa-check-circle"></i> Edit <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:;" class="edit-article"> Edit Article </a></li>
                <li><a href="javascript:;" class="toggle-status"> Toggle Status </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <table id="articles-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
              <tr role="row">
                <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" style="width: 24px;" aria-label="">
                  <input type="checkbox" data-set="#articles-table .checkboxes" id="articles-checkall" class="checkboxes">
                </th>
                <th class="sorting_desc" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="Name">Title</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Author">Author</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Views">Views</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Category">Category</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Tags">Tags</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Created">Created</th>
                <th class="sorting" tabindex="0" aria-controls="articles-table" rowspan="1" colspan="1" aria-label="Status">Status</th>
              </tr>
            </thead>
            <tbody id="articles-table-tbody"></tbody>
          </table>
        </div>
    </div>
    <!-- END KB ARTICLES PORTLET -->

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <!-- BEGIN CATEGORIES PORTLET -->
        <div class="portlet light">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cogs font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Categories</span>
              </div>
              <div class="actions btn-set">
                <a class="btn green-haze btn-circle show-set-category-modal" href="javascript:;"><i class="fa fa-check"></i> Add</a>
                <a class="btn yellow btn-circle edit-category" href="javascript:;"><i class="fa fa-check-circle"></i> Edit</a>
              </div>
            </div>
            <div class="portlet-body">
              <table id="categories-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                <thead>
                  <tr role="row">
                    <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" style="width: 24px;" aria-label="">
                      <input type="checkbox" data-set="#categories-table .checkboxes" id="categories-checkall" class="checkboxes">
                    </th>
                    <th class="sorting_desc" tabindex="0" aria-controls="categories-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="Name">Name</th>
                  </tr>
                </thead>
                <tbody id="categories-table-tbody"></tbody>
              </table>
            </div>
        </div>
        <!-- END CATEGORIES PORTLET -->
      </div>
      <div class="col-md-6 col-sm-12">
        <!-- BEGIN TAGS PORTLET -->
        <div class="portlet light">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cogs font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Tags</span>
              </div>
              <div class="actions btn-set">
                <a class="btn green-haze btn-circle show-set-tag-modal" href="javascript:;"><i class="fa fa-check"></i> Add</a>
                <a href="javascript:;" class="btn yellow btn-circle edit-tag"><i class="fa fa-check-circle"></i> Edit</a>
              </div>
            </div>
            <div class="portlet-body">
              <table id="tags-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                <thead>
                  <tr role="row">
                    <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" style="width: 24px;" aria-label="">
                      <input type="checkbox" data-set="#tags-table .checkboxes" id="tags-checkall" class="checkboxes">
                    </th>
                    <th class="sorting_desc" tabindex="0" aria-controls="tags-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="Name">Name</th>
                  </tr>
                </thead>
                <tbody id="tags-table-tbody"></tbody>
              </table>
            </div>
        </div>
        <!-- END TAGS PORTLET -->
      </div>
    </div>

    <!-- BEGIN SET KB TAG MODAL -->
    <div id="set-tag-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Tag</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"><span></span></div>
            <!-- BEGIN KB TAG FORM -->
            <form id="set-tag-form" class="form form-vertical" role="form">
              <input type="hidden" name="tag_id" id="tag_id" value="" />
              <table class="table table-hover" id="set-tag-form-table">
                {% for field in tagform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB TAG FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-tag-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB TAG MODAL -->

    <!-- BEGIN SET KB CATEGORY MODAL -->
    <div id="set-category-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Category</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <form id="set-category-form" class="form form-vertical" role="form">
              <input type="hidden" name="category_id" id="category_id" value=""/>
              <table class="table table-hover" id="set-category-form-table">
                {% for field in categoryform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-category-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB CATEGORY MODAL -->

    <!-- BEGIN DELETE CATEGORY MODAL -->
    <div id="del-category-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Category</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Category?</span>
            <form id="del-category-form" class="form" role="form">
              <input type="hidden" name='category_id' id="category_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-category-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE CATEGORY MODAL -->

    <!-- BEGIN DELETE KB TAG MODAL -->
    <div id="del-tag-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Tag</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Tag?</span>
            <form id="del-tag-form" class="form" role="form">
              <input type='hidden' name="tag_id" id="tag_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-tag-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE KB TAG MODAL -->

    <!-- BEGIN DELETE KB ARTICLE MODAL -->
    <div id="del-article-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Delete Article</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Article?</span>
            <form class="form" role="form" id='del-article-form'>
              <input type="hidden" name="article_id" id="article_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-article-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE KB ARTICLE MODAL -->

    <!-- BEGIN SET KB ARTICLE MODAL -->
    <div id="set-article-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Set Article</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB ARTICLE FORM -->
            <form role="form" class="form form-vertical" id="set-article-form">
              <input type="hidden" name="article_id" id="article_id" value="0" />
              <table class="table table-hover" id="set-article-form-table">
                {% for field in articleform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB ARTICLE FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-article-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB ARTICLE MODAL -->
{% endblock %}