{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Support{% endblock %}
{% block heading %}Support <small>Trouble Tickets</small>{% endblock %}

{% block breadcrumbs %}
    <li><a>Support</a></li>
    <li><a href="{% url 'tickets:index' %}">Tickets</a></li>
    <li>Create Ticket</li>
{% endblock %}

{% block css %}
    <style type="text/css">
        #form-controls-container { background-color: #f5f5f5; }
        #form-controls-container a { text-decoration: none; }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // Fetch Companies
        function getCompanies() {
            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result)  && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.companies) {
                            $("#id_company").append('<OPTION value="'+result.data.companies[x].id+'">'+result.data.companies[x].name+'</OPTION>');
                        }
                    }
                }
            }

            $.ajax({
                url: "{% url 'companies:getcompanies' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        // Fetch Company's Contacts
        function getCompanyContacts(company_id) {
            $("#id_author").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.contacts) {
                            $("#id_author").append(' \
                                <OPTION value="'+result.data.contacts[x].id+'">'+result.data.contacts[x].first_name+' '+result.data.contacts[x].last_name+' ('+result.data.contacts[x].email+')</OPTION>'
                            );
                        }
                    }
                }
            }

            $.ajax({
                url: "{% url 'companies:getcontacts' 0 %}".replace('0', company_id),
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getCompanies();

    $('#id_company').on('change', function () {
        getCompanyContacts($(this).val());
    });

    $(document)
        .on('click', 'a.ticket-form-submit', function (e) {
            e.preventDefault();
            $("#create-ticket-form").submit();
        })
        .on('click', 'a.reset-form', function (e) {
            e.preventDefault();
            $("#create-ticket-form").trigger('reset');
        });
{% endblock %}

{% block content %}
 <!-- BEGIN NEW TICKET CONTENT -->

     <!-- BEGIN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-12"><h3>Create Ticket</h3></div>
    </div>
    <!-- END CONTAINER HEAD -->

    <!-- BEGIN CONTAINER BODY -->
    <div class="row">
        {% if form_errors %}
            {{ form_errors }}
        {% endif %}
        <!-- BEGIN NEW TICKET FORM -->
        <form role="form" id="create-ticket-form" class="form form-vertical" enctype="multipart/form-data" method="POST" action="{% url 'tickets:create_ticket' %}">
            {% csrf_token %}
            <table class="table table-hover" id="company-profile-form-table">
                <tr class="form-group">
                    <td><label class="control-label">Company</label></td>
                    <td><select class="form-control" name="company" id="id_company" autocomplete="off"></select></td>
                </tr>

                {% for field in ticketform %}
                    <tr class="form-group">
                        <td><label class="control-label">{{ field.label_tag }}</label></td>
                        <td>
                            <div class="controls">
                                {{ field|addcss:"form-control" }}
                                <span id="{{ field.html_name }}-help" class="help-inline"></span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% for field in postform %}
                    <tr class="form-group">
                        <td><label class="control-label">{{ field.label_tag }}</label></td>
                        <td>
                            <div class="controls">
                                {% if field.html_name != "attachment" %}
                                    {{ field|addcss:"form-control" }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <span id="{{ field.html_name }}-help" class="help-inline"></span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                <tr id="form-controls-container" class="form-actions">
                    <td>&nbsp;</td>
                    <td>
                        <a type="submit" class="btn btn-primary ticket-form-submit" role="button"><i class="fa fa-check"></i>&nbsp;Submit</a>
                        <a type="button" class="btn btn-danger reset-form" role="button"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                    </td>
                </tr>
            </table>
        </form>
        <!-- END NEW TICKET FORM -->
    </div>
    <!-- END CONTAINER BODY -->

 <!-- END NEW TICKET CONTENT -->
{% endblock %}