{% extends "base.html" %}

{% block sitetitle %}| Support{% endblock %}
{% block heading %}Support <small>Contact</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></i></li>
	<li>Contact</li>
{% endblock %}

{% block content %}
 <!-- BEGIN CONTACTUS CONTENT -->

	<!-- BEING CONTACTUS CONTAINER -->
	     <!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-12"><h3>Contact Us</h3></div>
	    </div>
	    <!-- END CONTAINER HEAD -->
	    <!-- BEGIN CONTAINER BODY -->
	    	<!-- BEGIN ADDRESS CONTAINER -->
			<div class=" well">
				<div class="row">
					<!-- BEGIN LEFT COLUMN -->
					<div class="col-md-6">
						<h4>Company Name Incorporated</h4>
						<div style="padding-left: 20px">
							<h5 style="font-weight: bold">Address</h5>
							<div style="padding-left: 20px">
								<address>
									555 Address Blvd<br />
									City, ST 55555<br />
								</address>
							</div>

							<h5 style="font-weight: bold">Phone</h5>
							<div style="padding-left: 20px">
								<abbr title="Phone">P:</abbr> (555) 555-5555<br />
								<abbr title="Fax">F:</abbr> (555) 555-5556<br />
							</div>

							<h5 style="font-weight: bold">Email</h5>
							<div style="padding-left: 20px">
								<abbr title="Email">E:</abbr> <a href="mailto:support@example.com">support@example.com</a><br />
							</div>

							<h5 style="font-weight: bold">Website</h5>
							<div style="padding-left: 20px">
								<abbr title="Website">W:</abbr> <a href="http://www.example.com" alt="Company Name" target="_blank">http://www.example.com</a><br />
							</div>
						</div>
					</div>
					<!-- END LEFT COLUMN -->
					<!-- BEGIN RIGHT COLUMN -->
					<div class="col-md-6">
						<div class="thumbnail">
							<img src="http://www.cybercon.com/images/map210tucker.jpg" alt="Company Name" style="margin-top: 20px" />
							<div class="caption" style="text-align: center">Map caption example</div>
						</div>
					</div>
					<!-- END RIGHT COLUMN -->
				</div>
			</div>
			<!-- END ADDRESS CONTAINER -->
	    <!-- END CONTAINER BODY -->
    <!-- END CONTACTUS CONTAINER -->

 <!-- END CONTACTUS CONTENT -->
{% endblock %}