{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Administration{% endblock %}
{% block heading %}Administration <small>Knowledgebase</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></li>
	<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a></li>
  {% if article_id > 0 %}
	 <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-category-title"></a></li>
   <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-article-title"></a></li>
  {% endif %}
  <li>Administration</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
	<script type="text/javascript">
    // Set Knowledgebase Tag
    function setTag() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getTags();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
            if(result.hasOwnProperty('errors')) {
              $.each(result.errors, function(k,v) {
                $("#"+k+"-help").closest('tr').addClass("has-error");
                $("#"+k+"-help").html(v);
              });
            }
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:settag' %}",
        type: "POST",
        data: $("#kb-tag-set-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Fetch Knowledgebase Tags
    function getTags() {
      $("#id_tags").html("");
      $("#tags-table-tbody").html("");

      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
          if(result.success == 1) {
            if(result.data.tags.length) {
              for(x in result.data.tags) {
                $("#id_tags").append('<OPTION value="'+result.data.tags[x].id+'">'+result.data.tags[x].title+'</OPTION>');
                $("#tags-table-tbody").append(' \
                  <tr data-id="'+result.data.tags[x].id+'"> \
                    <td>'+result.data.tags[x].id+'</td> \
                    <td>'+result.data.tags[x].title+'</td> \
                    <td style="text-align: right"> \
                      <a href="#" class="edit-tag" role="button"><i class="fa fa-edit" style="color: green"></i></a> \
                      <a href="#" class="del-tag" role="button"><i class="fa fa-trash-o" style="color: red"></i></a> \
                    </td> \
                  </tr>'
                );
              }
            }
            else {
              $("#tags-table-tbody").html('<tr><td colspan=3><em>No tags defined.</em></td></tr>');
            }
          }
          else {
            $("#tags-table-tbody").html('<tr class="has-error"><td colspan=3><em>'+result.message+'</em></td></tr>');
          }
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:gettags' %}",
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Delete Knowledgebase Tag
    function deleteTag() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getTags();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:deltag' %}",
        type: "POST",
        data: $("#kb-tag-del-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Fetch Knowledgebase Categories
    function getCategories() {
      $("#id_category").html("");
      $("#categories-table-tbody").html("");

      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
          if(result.success == 1) {
            if(result.data.categories.length) {
              for(x in result.data.categories) {
                $("#id_category").append('<OPTION value="'+result.data.categories[x].id+'">'+result.data.categories[x].title+'</OPTION>');
                $("#categories-table-tbody").append(' \
                  <tr data-id="'+result.data.categories[x].id+'"> \
                    <td>'+result.data.categories[x].id+'</td> \
                    <td>'+result.data.categories[x].title+'</td> \
                    <td class="text-right"> \
                      <a href="#" role="button" class="edit-category"><i class="fa fa-edit" style="color: green"></i></a> \
                      <a href="#" role="button" class="del-category"><i class="fa fa-trash-o" style="color: red"></i></a> \
                    </td> \
                  </tr>'
                );
              }
            }
            else {
              $("#categories-table-tbody").html('<tr><td colspan=3><em>No categories defined.</em></td></tr>');
            }
          }
          else {
            $("#categories-table-tbody").html('<tr class="has-error"><td colspan=3><em>'+result.message+'</em></td></tr>');
          }
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:getcategories' %}",
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Set Knowledgebase Category
    function setCategory() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getCategories();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
            if(result.hasOwnProperty('errors')) {
              $.each(result.errors, function(k,v) {
                $("#"+k+"-help").closest('div').addClass("has-error");
                $("#"+k+"-help").html(v);
              });
            }
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:setcategory' %}",
        type: "POST",
        data: $('#kb-category-set-form').serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Delete Knowledgebase Category
    function deleteCategory() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getCategories();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:delcategory' %}",
        type: "POST",
        data: $("#kb-category-del-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Fetch Knowledgebase Articles
    function getArticles() {
      $("#articles-table").dataTable().fnDestroy();
      $("#articles-table-tbody").html("");

      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
          if(result.success == 1) {
            if(result.data.articles.length) {
              for(x in result.data.articles) {
                var url = "{% url "knowledgebase:detail" 0 %}".replace(0, result.data.articles[x].id);
                $("#articles-table-tbody").append(' \
                  <tr data-id="'+result.data.articles[x].id+'"> \
                    <td><a href="'+url+'">'+result.data.articles[x].title+'</a></td> \
                    <td>'+result.data.articles[x].category+'</td> \
                    <td>'+result.data.articles[x].author+'</td> \
                    <td>'+result.data.articles[x].views+'</td> \
                    <td>'+result.data.articles[x].created+'</td> \
                    <td>'+result.data.articles[x].modified+'</td> \
                    <td class="text-right"> \
                      <a href="#" class="edit-article"><icon class="fa fa-edit" style="color:green"></i></a> \
                      <a href="#" class="del-article"><icon class="fa fa-trash-o" style="color:red"></i></a> \
                    </td> \
                  </tr>'
                );
              }
              $("#articles-table").dataTable({
                                    "aaSorting": [[0, 'desc']],
                                    "aoColumnDefs": [
                                        {'bSortable': false, 'aTargets': [6]},
                                        {'bSearchable': false, 'aTargets': [6]}
                                    ]
                                });
            }
            else {
              $("#articles-table-tbody").html('<tr><td colspan=7><em>No Articles defined.</em></td></tr>')
            }
          }
          else {
            $("#articles-table-tbody").html('<tr class="has-error"><td colspan=7><em>'+result.message+'</em></td></tr>')
          }
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:getarticles' %}",
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Fetch Knowledgebase Article
    function getArticle(article_id) {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
          if(result.success == 1) {
            $("#kb-article-form #article_id").val(result.data.article.id);
            $("#kb-article-form #id_title").val(result.data.article.title);
            $("#kb-article-form #id_contents").val(result.data.article.contents);
            $("#kb-article-form #id_views").val(result.data.article.views);
            $("#kb-article-form #id_category").val(result.data.article.category_id);
            for(x in result.data.article.tags) {
              $("#kb-article-form #id_tags option[value='"+result.data.article.tags[x].id+"']").prop("selected", true);
            }
          }
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:getarticle' 0 %}".replace(0, article_id),
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Set Knowledgebase Article
    function setArticle() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getArticles();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
            if(result.hasOwnProperty('errors')) {
              $.each(result.errors, function(k,v) {
                $("#"+k+"-help").closest('div').addClass("has-error");
                $("#"+k+"-help").html(v);
              });
            }
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'knowledgebase:setarticle' %}",
        type: "POST",
        data: $("#kb-article-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Delete Knowledgebase Article
    function deleteArticle() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getArticles();
            setTimeout("$('.modal.in').modal('hide')",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
          }
        }

        setTimeout("$('.modal-alert').fadeOut()",2000);
        $('.modal-alert').removeClass().addClass('modal-alert');
      }

      $.ajax({
        url: "{%url 'knowledgebase:delarticle' %}",
        type: "POST",
        data: $("#kb-article-del-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    // Reset and Show Knowledgebase Tag Modal
    function resetTagForm() {
      $("#kb-tag-set-form").trigger('reset');
      $("#kb-tag-set-modal").modal('show');
    }

    // Reset and Show Knowledgebase Category Modal
    function resetCategoryForm() {
      $("#kb-category-set-form").trigger('reset');
      $("#kb-category-set-modal").modal('show');
    }

    // Reset and Show Knowledgebase Article Modal
    function resetArticleForm() {
      $("#kb-article-form").trigger('reset');
      $("#kb-article-set-modal").modal('show');
    }
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getTags();
	getCategories();
  getArticles();

  $(document)
      .on('click', 'a.set-article-form-submit', function (e) {
          e.preventDefault();
          setArticle();
      })
      .on('click', 'a.set-tag-form-submit', function (e) {
          e.preventDefault();
          setTag();
      })
      .on('click', 'a.set-category-form-submit', function (e) {
          e.preventDefault();
          setCategory();
      })
      .on('click', 'a.delete-category-form-submit', function (e) {
          e.preventDefault();
          deleteCategory();
      })
      .on('click', 'a.delete-tag-form-submit', function (e) {
          e.preventDefault();
          deleteTag();
      })
      .on('click', 'a.delete-article-form-submit', function (e) {
          e.preventDefault();
          deleteArticle();
      })
      .on('click', 'a.show-set-category-modal', function (e) {
          e.preventDefault();
          resetCategoryForm();
      })
      .on('click', 'a.refresh-categories', function (e) {
          e.preventDefault();
          getCategories();
      })
      .on('click', 'a.show-set-tag-modal', function (e) {
          e.preventDefault();
          resetTagForm();
      })
      .on('click', 'a.refresh-tags', function (e) {
          e.preventDefault();
          getTags();
      })
      .on('click', 'a.show-set-article-modal', function (e) {
          e.preventDefault();
          resetArticleForm();
      })
      .on('click', 'a.get-articles', function (e) {
          e.preventDefault();
          getArticles();
      })
      .on('click', 'a.del-category', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            $("#kb-category-del-form #category_id").val($(this).closest('tr').data('id'))
            $("#kb-category-del-modal").modal('show');
          }
      })
      .on('click', 'a.edit-category', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            resetCategoryForm();
            $("#kb-category-set-form #id_title").val($(this).closest('tr').find("td").eq(1).html());
            $("#kb-category-set-form #category_id").val($(this).closest('tr').data('id'))
          }
      })
      .on('click', 'a.del-tag', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            $("#kb-tag-del-form #tag_id").val($(this).closest('tr').data('id'))
            $("#kb-tag-del-modal").modal('show');
          }
      })
      .on('click', 'a.edit-tag', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            resetTagForm();
            $("#kb-tag-set-form #id_title").val($(this).closest('tr').find("td").eq(1).html());
            $("#kb-tag-set-form #tag_id").val($(this).closest('tr').data('id'))
          }
      })
      .on('click', 'a.del-article', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            $("#kb-article-del-form #article_id").val($(this).closest('tr').data('id'))
            $("#kb-article-del-modal").modal('show');
          }
      })
      .on('click', 'a.edit-article', function (e) {
          e.preventDefault();
          if($(this).closest('tr').data('id')) {
            resetArticleForm();
            getArticle($(this).closest('tr').data('id'));
            $("#kb-article-form #article_id").val($(this).closest('tr').data('id'));
          }
      });
{% endblock %}

{% block content %}
  <!-- BEGIN KNOWLEDGEBASE ADMINISTRATION CONTENT -->
    <!-- BEGIN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><h3>Knowledgebase</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a href="#" role="button" class="get-articles"><i class="fa fa-refresh"></i></a>
                <a href="#" role="button" class="show-set-article-modal"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTAINER HEAD -->
    <!-- BEGIN CONTAINER BODY -->
      <!-- BEGIN VLAN TABLE -->
      <table id="articles-table" class="table table-hover">
          <thead class="row">
              <tr>
                <th class="col-md-3">Title</th>
                <th class="col-md-1">Category</th>
                <th class="col-md-2">Author</th>
                <th class="col-md-1">Views</th>
                <th class="col-md-2">Created</th>
                <th class="col-md-2">Modified</th>
                <th class="col-md-1">&nbsp;</th>
              </tr>
          </thead>
          <tbody id="articles-table-tbody"></tbody>
      </table>
      <!-- END VLAN TABLE -->
    <!-- END CONTAINER BODY -->

    <!-- BEGIN BOTTOM ROW -->
    <div class="row">
      <div class="col-md-5">
        <!-- BEGIN VLAN CONTAINER HEAD -->
        <div class="row page-head">
            <div class="col-md-6"><h3 id="article-title">Categories</h3></div>
            <div class="col-md-6 text-right">
                <div class="btn-group">
                    <a href="#" role="button" class="refresh-categories"><i class="fa fa-refresh"></i></a>
                    <a href="#" role="button" class="show-set-category-modal"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <!-- END VLAN CONTAINER HEAD -->
        <!-- BEGIN VLAN CONTAINER BODY -->
        <div class="row">
            <!-- BEGIN VLAN TABLE -->
            <table id="categories-table" class="table table-hover">
                <thead class="row">
                    <tr>
                      <th class="col-md-2">ID</th>
                      <th class="col-md-8">Name</th>
                      <th class="col-md-2">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="categories-table-tbody"></tbody>
            </table>
            <!-- END VLAN TABLE -->
        </div>
        <!-- END VLAN CONTAINER BODY -->
    </div>
    <div class="col-md-offset-2 col-md-5">
        <!-- BEGIN VLAN CONTAINER HEAD -->
        <div class="row page-head">
            <div class="col-md-6"><h3 id="article-title">Tags</h3></div>
            <div class="col-md-6 text-right">
                <div class="btn-group">
                    <a href="#" role="button" class="refresh-tags"><i class="fa fa-refresh"></i></a>
                    <a href="#" role="button" class="show-set-tag-modal"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <!-- END VLAN CONTAINER HEAD -->
        <!-- BEGIN VLAN CONTAINER BODY -->
        <div class="row">
            <!-- BEGIN VLAN TABLE -->
            <table id="tags-table" class="table table-hover">
                <thead class="row">
                    <tr>
                      <th class="col-md-2">ID</th>
                      <th class="col-md-8">Name</th>
                      <th class="col-md-2">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tags-table-tbody"></tbody>
            </table>
            <!-- END VLAN TABLE -->
        </div>
        <!-- END VLAN CONTAINER BODY -->
      </div>
    </div>
    <!-- END BOTTOM ROW -->

    <!-- BEGIN SET KB TAG MODAL -->
    <div id="kb-tag-set-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Tag</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"><span></span></div>
            <!-- BEGIN KB TAG FORM -->
            <form id="kb-tag-set-form" class="form form-vertical" role="form">
              <input type="hidden" name="tag_id" id="tag_id" value="" />
              <table class="table table-hover" id="kb-tag-set-form-table">
                {% for field in tagform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB TAG FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-tag-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB TAG MODAL -->

    <!-- BEGIN SET KB CATEGORY MODAL -->
    <div id="kb-category-set-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Category</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <form id="kb-category-set-form" class="form form-vertical" role="form">
              <input type="hidden" name="category_id" id="category_id" value=""/>
              <table class="table table-hover" id="kb-category-set-form-table">
                {% for field in categoryform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-category-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB CATEGORY MODAL -->

    <!-- BEGIN DELETE CATEGORY MODAL -->
    <div id="kb-category-del-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Category</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Category?</span>
            <form id="kb-category-del-form" class="form" role="form">
              <input type="hidden" name='category_id' id="category_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-category-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE CATEGORY MODAL -->

    <!-- BEGIN DELETE KB TAG MODAL -->
    <div id="kb-tag-del-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Knowledgebase Tag</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Tag?</span>
            <form id="kb-tag-del-form" class="form" role="form">
              <input type='hidden' name="tag_id" id="tag_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-tag-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE KB TAG MODAL -->

    <!-- BEGIN DELETE KB ARTICLE MODAL -->
    <div id="kb-article-del-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Delete Article</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB CATEGORY FORM -->
            <span>Are you sure you want to delete the selected Knowledgebase Article?</span>
            <form class="form" role="form" id='kb-article-del-form'>
              <input type="hidden" name="article_id" id="article_id" value="0" />
            </form>
            <!-- END KB CATEGORY FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary delete-article-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END DELETE KB ARTICLE MODAL -->

    <!-- BEGIN SET KB ARTICLE MODAL -->
    <div id="kb-article-set-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- BEGIN MODAL HEADER -->
          <div class="modal-header">
            <h3>Set Article</h3>
          </div>
          <!-- END MODAL HEADER -->
          <!-- BEGIN MODAL BODY -->
          <div class="modal-body">
            <div class="modal-alert"></div>
            <!-- BEGIN KB ARTICLE FORM -->
            <form role="form" class="form form-vertical" id="kb-article-form">
              <input type="hidden" name="article_id" id="article_id" value="0" />
              <table class="table table-hover" id="kb-article-form-table">
                {% for field in articleform %}
                  <tr class="form-group">
                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                    <td>
                      <div class="controls">
                        {{ field|addcss:"form-control" }}
                        <span id="{{ field.html_name }}-help" class="help-inline"></span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </form>
            <!-- END KB ARTICLE FORM -->
          </div>
          <!-- END MODAL BODY -->
          <!-- BEGIN MODAL FOOTER -->
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
            <a role="button" class="btn btn-primary set-article-form-submit">Ok</a>
          </div>
          <!-- END MODAL FOOTER -->
        </div>
      </div>
    </div>
    <!-- END SET KB ARTICLE MODAL -->

 <!-- END KNOWLEDGEBASE ADMINISTRATION CONTENT -->
{% endblock %}