{% extends "base.html" %}

{% block sitetitle %}| Administration{% endblock %}
{% block heading %}Admin Portal <small>Knowledgebase</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></li>
	<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a></li>
  {% if article_id > 0 %}
	 <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-category-title"></a></li>
   <li><a href="{% url 'knowledgebase:index' %}" id="breadcrumb-article-title"></a></li>
  {% endif %}
  <li>Administration</li>

{% endblock %}

{% block js %}
	<script type="text/javascript">
    function getArticle() {
      // Destroy existing
      $("#article-stats").html("");

      // onSuccess callback function
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result)) {
          if(result.success == 1) {
            // AJAX call returned success
            $("#title").val(result.data.article.title);
            $("#contents").val(result.data.article.contents);
            $("#categories-listing").val(result.data.article.category_id);
            $("#breadcrumb-category-title").html(result.data.article.category);
            $("#breadcrumb-article-title").html(result.data.article.title);

            for(x in result.data.article.tags) {
              $("#tags-listing option[value="+result.data.article.tags[x].id+"]").prop("selected", true);
            }

          }
          else {
            // AJAX call returned failed
            $("#article-content").html(result.message);
          }
        }
      }

      $.ajax({
          url: "{%url 'knowledgebase:getarticle' article_id %}",
          type: "POST",
          success: onSuccessCallback,
          error: defaultErrorCallback
      });
    }

    function deleteKnowledgebaseArticle() {
      // onSuccess callback function
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result)) {
          $('#flash-message').fadeIn();
          if(result.success == 1) {
            // AJAX call returned success
            $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
            window.location = "{% url 'knowledgebase:index' %}";
          }
          else {
            // AJAX call returned failed
            $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
          }
        }
        setTimeout("$('#flash-message').fadeOut()",2000);
      }

      $.ajax({
          url: "{%url 'knowledgebase:delarticle' %}",
          type: "POST",
          data: {"article_id": {{ article_id }}},
          success: onSuccessCallback,
          error: defaultErrorCallback
      });
    }

      // Build and display Add Zone modal
      function build_kb_delete_article_modal() {
        var modal_title = "Delete Article";
        var modal_body = "Are you sure you want to delete the selected Knowledgebase Article?";
        var modal_onclick_action = "deleteKnowledgebaseArticle()";

        buildModal(modal_title, modal_body, modal_onclick_action);
      }

    function setKnowledgebaseTag() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result)) {
          $('#flash-message').fadeIn();
          if(result.success == 1) {
            // AJAX call returned successful
            $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
            $("#kb-tag-title").val("");
            getKnowledgebaseTags();
            $('.modal.in').modal('hide');
          }
          else {
            // AJAX call returned failed
            $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
            if(result.hasOwnProperty('errors')) {
              // iterate through and display form validation errors
              $.each(result.errors, function(k,v) {
                $("#"+k+"-help").closest('div').addClass("has-error");
                $("#"+k+"-help").html(v);
              });
            }
          }
          setTimeout("$('#flash-message').fadeOut()",2000);
        }
      }

      // Make the AJAX call
      $.ajax({
          url: "{% url 'knowledgebase:settag' %}",
          type: "POST",
          data: $("#kb-tag-form").serialize(),
          success: onSuccessCallback,
          error: defaultErrorCallback
      });
    }

      function getKnowledgebaseTags() {
        // Destroy existing
        $("#tags-listing").html("");
        $("#tags-table-tbody").html("");

        // onSuccess callback function
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              for(x in result.data.tags) {
                $("#tags-listing").append('<OPTION value="'+result.data.tags[x].id+'">'+result.data.tags[x].title+'</OPTION>');
                $("#tags-table-tbody").append(' \
                  <tr data-id="'+result.data.tags[x].id+'"> \
                    <td>'+result.data.tags[x].id+'</td> \
                    <td>'+result.data.tags[x].title+'</td> \
                    <td><a href="#" class="btn btn-primary edit-tag">Edit</a><a href="#" class="btn btn-warning del-tag">Delete</a></td> \
                  </tr>'
                );
              }
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
            }
          }
        }

        // Make the AJAX call
        $.ajax({
            url: "{% url 'knowledgebase:gettags' %}",
            type: "POST",
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function getKnowledgebaseCategories() {
        // Destroy existing
        $("#categories-listing").html("");
        $("#categories-table-tbody").html("");

        // onSuccess callback function
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              for(x in result.data.categories) {
                $("#categories-listing").append('<OPTION value="'+result.data.categories[x].id+'">'+result.data.categories[x].title+'</OPTION>');
                $("#categories-table-tbody").append(' \
                  <tr data-id="'+result.data.categories[x].id+'"> \
                    <td>'+result.data.categories[x].id+'</td> \
                    <td>'+result.data.categories[x].title+'</td> \
                    <td><a href="#" class="btn btn-primary edit-category">Edit</a><a href="#" class="btn btn-warning del-category">Delete</a></td> \
                  </tr>'
                );
              }
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
            }
          }
        }

        $.ajax({
            url: "{% url 'knowledgebase:getcategories' %}",
            type: "POST",
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function setKnowledgebaseCategory() {
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
              $("#kb-category-title").val("");
              getKnowledgebaseCategories();
              $('.modal.in').modal('hide');
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
              if(result.hasOwnProperty('errors')) {
                // iterate through and display form validation errors
                $.each(result.errors, function(k,v) {
                  $("#"+k+"-help").closest('div').addClass("has-error");
                  $("#"+k+"-help").html(v);
                });
              }
            }
            setTimeout("$('#flash-message').fadeOut()",2000);
          }
        }

        // Make the AJAX call
        $.ajax({
            url: "{% url 'knowledgebase:setcategory' %}",
            type: "POST",
            data: $('#kb-category-form').serialize(),
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function setKnowledgebaseArticle() {
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
              window.location = "/support/kb/"+result.data.article_id;
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
              if(result.hasOwnProperty('errors')) {
                // iterate through and display form validation errors
                $.each(result.errors, function(k,v) {
                  $("#"+k+"-help").closest('div').addClass("has-error");
                  $("#"+k+"-help").html(v);
                });
              }
            }
            setTimeout("$('#flash-message').fadeOut()",2000);
          }
        }

        // Make the AJAX call
        $.ajax({
            url: "{% url 'knowledgebase:setarticle' %}",
            type: "POST",
            data: $("#kb-article-form").serialize(),
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }


      function deleteKnowledgebaseCategory() {
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
              getKnowledgebaseCategories();
              $('.modal.in').modal('hide');
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
            }
            setTimeout("$('#flash-message').fadeOut()",2000);
          }
        }

        // Make the AJAX call
        $.ajax({
            url: "{% url 'knowledgebase:delcategory' %}",
            type: "POST",
            data: $("#kb-category-form").serialize(),
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function deleteKnowledgebaseTag() {
        function onSuccessCallback(result) {
          if(!jQuery.isEmptyObject(result)) {
            $('#flash-message').fadeIn();
            if(result.success == 1) {
              // AJAX call returned successful
              $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
              getKnowledgebaseTags();
              $('.modal.in').modal('hide');
            }
            else {
              // AJAX call returned failed
              $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
            }
            setTimeout("$('#flash-message').fadeOut()",2000);
          }
        }

        $.ajax({
            url: "{% url 'knowledgebase:deltag' %}",
            type: "POST",
            data: $("#kb-tag-form").serialize(),
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      // Customizes modal with specifications
      function buildModal(label, body, saveaction) {
        $('#flash-message').hide();
        $('#mlabel').html(label);
        $('#mbody').html(body);
        $('#msave').attr('onclick', saveaction);
        $("#mmodal").modal('show');
      }

      // Build and display Add Zone modal
      function build_kb_category_modal(category_id=0, action="create", title="") {
        var modal_title = "Knowledgebase Category";

        switch(action) {
          case 'delete':
            var modal_body = "Are you sure you want to delete the selected Knowledgebase Category?<form id='kb-category-form'><input type='hidden' name='category_id' value='"+category_id+"'/></form>";
            var modal_onclick_action = "deleteKnowledgebaseCategory()";
            break;
          case 'edit':
          case 'create':
          default:
            var modal_onclick_action = "setKnowledgebaseCategory()";
            var modal_body = ' \
              <form id="kb-category-form"> \
                <div class="form-group"> \
                    <label class="control-label col-md-3">Title</label> \
                    <div class="controls col-md-9"> \
                        <input class="form-control" id="kb-category-title" maxlength="100" name="title" type="text" value="'+title+'" /> \
                        <span id="title-help" class="help-block"></span> \
                    </div> \
                </div> \
                <input type="hidden" name="category_id" value="'+category_id+'"/> \
              </form>';
            break;
        }

        buildModal(modal_title, modal_body, modal_onclick_action);
      }

      // Build and display Add Zone modal
      function build_kb_tag_modal(tag_id=0, action="create", title="") {
        var modal_title = "Knowledgebase Tag";

        switch(action) {
          case 'delete':
            var modal_body = "Are you sure you want to delete the selected Knowledgebase Tag(s)?<form id='kb-tag-form'><input type='hidden' name='tag_id' value='"+tag_id+"'/></form>";
            var modal_onclick_action = "deleteKnowledgebaseTag()";
            break;
          case 'edit':
          case 'create':
          default:
            var modal_onclick_action = "setKnowledgebaseTag()";
            var modal_body = ' \
              <form id="kb-tag-form"> \
                <div class="form-group"> \
                    <label class="control-label col-md-3">Title</label> \
                    <div class="controls col-md-9"> \
                        <input class="form-control" id="kb-tag-title" maxlength="100" name="title" type="text" value="'+title+'" /> \
                        <span id="title-help" class="help-block"></span> \
                    </div> \
                </div> \
                <input type="hidden" name="tag_id" value="'+tag_id+'"/> \
              </form>';
            break;
        }

        buildModal(modal_title, modal_body, modal_onclick_action);
      }
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getKnowledgebaseTags();
	getKnowledgebaseCategories();

  if({{ article_id }} > 0) {
    getArticle();
  }

  $('#categories-table-tbody')
      .on('click', 'a.del-category', function (e) {
          e.preventDefault();
          build_kb_category_modal($(this).closest('tr').data('id'), "delete");
      })
      .on('click', 'a.edit-category', function (e) {
          e.preventDefault();
          build_kb_category_modal($(this).closest('tr').data('id'), "edit", $(this).closest('tr').find("td").eq(1).html());
      })

  $('#tags-table-tbody')
      .on('click', 'a.del-tag', function (e) {
          e.preventDefault();
          build_kb_tag_modal($(this).closest('tr').data('id'), "delete");
      })
      .on('click', 'a.edit-tag', function (e) {
          e.preventDefault();
          build_kb_tag_modal($(this).closest('tr').data('id'), "edit", $(this).closest('tr').find("td").eq(1).html());
      })
{% endblock %}

{% block content %}
  <!-- BEGIN KNOWLEDGEBASE ADMINISTRATION CONTENT -->
    <!-- BEGIN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-12"><i class="fa fa-edit"></i>&nbsp;<h3>Knowledgebase</h3></div>
    </div>
    <!-- END CONTAINER HEAD -->
    <!-- BEGIN CONTAINER BODY -->
		<div class="row">
      <!-- BEGIN KNOWLEDGEBASE FORM -->
      <form id="kb-article-form">
        <input type="hidden" name="article_id" value="{{ article_id }}" />
        <div class="form-group">
          <label class="control-label col-md-3">Category</label>
          <div class="controls col-md-9 input-group">
            <select id="categories-listing" class="form-control" name="category" autocomplete="off"></select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Tag(s)</label>
          <div class="controls col-md-9 input-group">
            <select multiple="multiple" id="tags-listing" class="form-control" name="tags" autocomplete="off"></select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Title</label>
          <div class="controls col-md-9">
            <input type="text" class="form-control" name="title" id="title" />
            <span class="help-block" id="title-help"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Contents</label>
          <div class="controls col-md-9">
            <TEXTAREA class="form-control" id="contents" name="contents" rows=10></TEXTAREA>
            <span class="help-block" id="contents-help"></span>
          </div>
        </div>

        <div class="form-actions">
          <div class="col-md-offset-3 col-md-9">
            <a class="btn btn-primary" onclick="setKnowledgebaseArticle()"><i class="fa fa-plus"></i> Submit</a>
            {% if article_id > 0 %}
                <a class="btn btn-danger" onclick="build_kb_delete_article_modal()"><i class="fa fa-minus"></i> Delete</a>
            {% endif %}
          </div>
        </div>
      </form>
      <!-- END KNOWLEDGEBASE FORM -->
		</div>
    <!-- END CONTAINER BODY -->

    <!-- BEGIN VLAN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3 id="article-title">Categories</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge" onclick="build_kb_category_modal()">Create <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END VLAN CONTAINER HEAD -->
    <!-- BEGIN VLAN CONTAINER BODY -->
    <div class="row">
        <!-- BEGIN VLAN TABLE -->
        <table id="categories-table" class="table table-hover">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody id="categories-table-tbody">
            </tbody>
        </table>
        <!-- END VLAN TABLE -->
    </div>
    <!-- END VLAN CONTAINER BODY -->

    <!-- BEGIN VLAN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3 id="article-title">Tags</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge" onclick="build_kb_tag_modal()">Create <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END VLAN CONTAINER HEAD -->
    <!-- BEGIN VLAN CONTAINER BODY -->
    <div class="row">
        <!-- BEGIN VLAN TABLE -->
        <table id="tags-table" class="table table-hover">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody id="tags-table-tbody">
            </tbody>
        </table>
        <!-- END VLAN TABLE -->
    </div>
    <!-- END VLAN CONTAINER BODY -->

  <!-- END KNOWLEDGEBASE ADMINISTRATION CONTENT -->

   <!-- BEGIN MODAL -->
  <div id="mmodal" class="modal fade in" role="dialog" aria-labelledby="model-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- BEGIN MODAL HEADER -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 id="mlabel"></h3>
        </div>
        <!-- END MODAL HEADER -->
        <!-- BEGIN MODAL BODY -->
        <div class="modal-body">
          <div id="flash-message"></div>
          <div class="well" id="mbody"></div>
        </div>
        <!-- END MODAL BODY -->
        <!-- BEGIN MODAL FOOTER -->
        <div class="modal-footer" id="modalfooter">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
          <button id="msave" class="btn btn-primary">Ok</button>
        </div>
        <!-- END MODAL FOOTER -->
      </div>
    </div>
  </div>
  <!-- END MODAL -->
{% endblock %}