{% extends "base.html" %}

{% block sitetitle %}| Support{% endblock %}
{% block heading %}Support <small>Knowledgebase</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></li>
	<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a></li>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		function getArticle() {
			$("#article-stats").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						$("#article-title").html(result.data.article.title);
						$("#article-content").html(result.data.article.contents);
						$("#breadcrumbs").append('<li><a href="{% url 'knowledgebase:index' %}">'+result.data.article.category+'</a></li>')
						$("#breadcrumbs").append('<li>'+result.data.article.title+'</li>')

						var tags = "";
						for(x in result.data.article.tags) {
							tags += '<li><a href="#"><i class="fa fa-tags"></i> '+result.data.article.tags[x].title+'</a></li>';
						}

						$("#article-stats").append(' \
							<dt>Author</dt><dd>'+result.data.article.author+'</dd> \
							<dt>Category</dt><dd>'+result.data.article.category+'</dd> \
							<dt>Created</dt><dd>'+result.data.article.created+'</dd> \
							<dt>Update</dt><dd>'+result.data.article.modified+'</dd> \
							<dt>Tags</dt> \
							<dd> \
								<ul class="list-unstyled">'+tags+'</ul> \
							</dd>'
						);
					}
					else {
						$("#article-content").html('<div class="alert alert-danger">'+result.message+'</div>');
					}
				}
			}

			$.ajax({
                url: "{%url 'knowledgebase:getarticle' article_id %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getArticle();
{% endblock %}

{% block content %}
 <!-- BEGIN KNOWLEDGEBASE DETAIL CONTENT -->
    <!-- BEGIN CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-12">
        	<h3 id="article-title"></h3>
        </div>
    </div>
    <!-- END CONTAINER HEAD -->
    <!-- BEGIN CONTAINER BODY -->
	<div class="row">
		<!-- BEGIN LEFT COLUMN -->
		<div class="col-md-8">
			<div id="article-content"></div>
		</div>
		<!-- END LEFT COLUMN -->
		<!-- BEGIN RIGHT COLUMN -->
		<div class="col-md-4">
			<!-- BEGIN ARTICLE STATS -->
			<dl id="article-stats"></dl>
			<!-- END ARTICLE STATS -->
		</div>
		<!-- END RIGHT COLUMN -->
	</div>
    <!-- END CONTAINER BODY -->
 <!-- END KNOWLEDGEBASE DETAIL CONTENT -->
{% endblock %}