{% extends "base.html" %}

{% block sitetitle %}| Support{% endblock %}
{% block heading %}Support <small>Knowledgebase</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></li>
	{% if category_id %}
		<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a></li>
		<li>{{ category }}</li>
	{% elif tag_id %}
		<li><a href="{% url 'knowledgebase:index' %}">Knowledgebase</a></li>
		<li>#{{ tag }}</li>
	{% else %}
		<li>Knowledgebase</li>
	{% endif %}
{% endblock %}

{% block js %}
	<script type="text/javascript">
		// Fetch Knowledgebase Articles
		function getArticles(category_id=0, tag_id=0) {
			$("#kb-articles").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						for(x in result.data.articles) {
							var articleContent = ' \
								<li class="list-group-item" data-id="'+result.data.articles[x].id+'"> \
									<a href="'+"{% url 'knowledgebase:detail' 0 %}".replace(0, result.data.articles[x].id)+'">'+result.data.articles[x].title+'</a> \
								</li>';

							{% if tag_id or category_id %}
								$("#kb-articles").append(articleContent);
							{% else %}
								$("#kb-categories li").each(function() {
									if($(this).data('id')==result.data.articles[x].category_id) {
										$("#kb-articles").append(articleContent);
									}
								})
							{% endif %}
						}
					}
				}
			}

			$.ajax({
                url: "{%url 'knowledgebase:getarticles' %}",
                data: {'category_id': category_id, 'tag_id': tag_id},
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		// Fetch Knowledgebase Categories
		function getCategories() {
			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						for(x in result.data.categories) {
							$("#kb-categories").append(' \
								<li class="list-group-item" data-id="'+result.data.categories[x].id+'"> \
									<a class="toggle-child">'+result.data.categories[x].title+'</a> \
								</li>'
							);
						}
					}
				}
			}

			$.ajax({
                url: "{%url 'knowledgebase:getcategories' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}

		// Fetch Knowledgebase Featured Articles
		function getFeaturedArticles() {
			$("#kb-categories").html("");
			$("#popular-articles").html("");
			$("#newest-articles").html("");

			function onSuccessCallback(result) {
				if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
					if(result.success == 1) {
						for(x in result.data.newest) {
							$("#newest-articles").append(' \
								<li style="text-indent: 10px"> \
									<a href="'+"{%url 'knowledgebase:detail' 0 %}".replace(0, result.data.newest[x].id)+'"> \
										<em>'+result.data.newest[x].title+'</em> \
									</a> \
								</li>'
							);
						}

						for(x in result.data.popular) {
							$("#popular-articles").append(' \
								<li style="text-indent: 10px"> \
									<a href="'+"{%url 'knowledgebase:detail' 0 %}".replace(0, result.data.popular[x].id)+'"> \
										<em>'+result.data.popular[x].title+'</em> \
									</a> \
								</li>'
							);
						}
					}
					else {
						$("#kb-categories").html('<div class="alert alert-danger">'+result.message+'</div>');
					}
				}
			}

			$.ajax({
                url: "{%url 'knowledgebase:getfeatured' %}",
                data: {'count': 1},
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
		}
	</script>
{% endblock %}

{% block jquery_document_ready %}
	getFeaturedArticles();

	{% if category_id %}
		getArticles({{ category_id }});
	{% elif tag_id %}
		getArticles(0, {{ tag_id }});
	{% else %}
		getCategories();

		$("#kb-categories")
	        .on('click', 'li', function (e) {
	        	if($(this).data('id')) {
		            e.preventDefault();
		            getArticles($(this).data('id'));
	            }
	        });
	{% endif %}
{% endblock %}

{% block content %}
 <!-- BEGIN KNOWLEDGEBASE INDEX CONTENT -->

	<!-- BEING KNOWLEDGEBASE CONTAINER -->
	     <!-- BEGIN CONTAINER HEAD -->
	    <div class="row page-head">
	        <div class="col-md-12">
	        	<h3>Knowledgebase
	        		{% if category_id %}
	        			:{{ category }}
	        		{% elif tag_id %}
	        			:#{{ tag }}
	        		{% endif %}
	        	</h3>
	        </div>
	    </div>
	    <!-- END CONTAINER HEAD -->
	    <!-- BEGIN CONTAINER BODY -->
		<div class="row">
			<!-- BEGIN LEFT COLUMN -->
			<div class="col-md-8 ">
				<div id="kb-categories" class="list-group list-unstyled" {% if category_id or tag_id %}style="display: none"{% endif %}></div>
				<div id="kb-articles" class="list-group list-unstyled"></div>
			</div>
			<!-- END LEFT COLUMN -->
			<!-- BEGIN RIGHT COLUMN -->
			<div class="col-md-4">
				<div class="control-group" id="featured-articles">
					<!-- BEGIN NEWEST ARTICLES -->
					<div class="panel panel-default">
					  <div class="panel-heading">Most Recent</div>
					  <div class="panel-body">
					  	<ul id="newest-articles" class="list-unstyled"></ul>
					  </div>
					</div>
					<!-- END NEWEST ARTICLES -->
					<!-- BEGIN POPULAR ARTICLES -->
					<div class="panel panel-default">
					  <div class="panel-heading">Most Popular</div>
					  <div class="panel-body">
					  	<ul id="popular-articles" class="list-unstyled"></ul>
					  </div>
					</div>
					<!-- END POPULAR ARTICLES -->
				</div>
			</div>
			<!-- END RIGHT COLUMN -->
		</div>
	    <!-- END CONTAINER BODY -->
    <!-- END KNOWLEDGEBASE CONTAINER -->

 <!-- END KNOWLEDGEBASE INDEX CONTENT -->
{% endblock %}