{% extends "base.html" %}

{% load staticfiles %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>DNS</small>{% endblock %}

{% block breadcrumbs %}
    <li><a>Services</a></i></li>
    <li>DNS</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

    <script type="text/javascript">
        function defaultSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success')) {
                $('.modal-alert').html(result.message);
                $('.modal-alert').fadeIn();

                if(result.success == 1) {
                    $('.modal-alert').addClass('alert alert-success');
                    getZones();
                    setTimeout("$('.modal.in').modal('hide')",500);
                }
                else {
                    $('.modal-alert').addClass('alert alert-danger');
                    if(result.hasOwnProperty('errors')) {
                        $.each(result.errors, function(k,v) {
                            $("#id_"+k).parents('div').addClass("has-error");
                            $("#"+k+"-help").html(v);
                        });
                    }
                }

                setTimeout("$('.modal-alert').fadeOut()",2000);
                $('.modal-alert').removeClass().addClass('modal-alert');
            }
        }

        function sendPost(url, data, onsuccess, onerror) {
            $.ajax({
                url: url,
                data: data,
                type: "POST",
                success: onsuccess,
                error: onerror
            });
        }

        function getZones() {
            $("#dns-zones-table").dataTable().fnDestroy();
            $("#zones-tbody").html("");

            function successCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('message') && result.hasOwnProperty('success') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.zones) {
                            $("#zones-tbody").append(' \
                                <tr data-domain="'+result.data.zones[x].domain+'"> \
                                    <td>'+result.data.zones[x].domain+'</td> \
                                    <td> \
                                        <a href="#" class="edit-domain" role="button"><i class="fa fa-edit" style="color:green"></i></a> \
                                        <a href="#" class="del-domain" role="button"><i class="fa fa-trash-o" style="color:red"></i></a> \
                                    </td> \
                                </tr>'
                            );
                        }

                        $("#dns-zones-table").dataTable({
                                    "aaSorting": [[0, 'asc']],
                                    "aoColumnDefs": [
                                        {'bSortable': false, 'aTargets': [1]},
                                        {'bSearchable': false, 'aTargets': [1]}
                                    ]
                                });
                    }
                    else {
                        $("#zones-tbody").html("<tr class='has-error'><td colspan=2><em>"+result.message+"</em></td></tr>");
                    }
                }
            }

            sendPost("{%url 'dns:getzones' service_id %}", null, successCallback, defaultErrorCallback);
        }

        function showAddRecordForm() {
            $("#dns-add-zone-form").trigger('reset');
            $("#add-dom-modal").modal("show");
        }
    </script>
{% endblock %}

{% block jquery_document_ready %}
    getZones();

    $(document)
        .on('click', 'a.show-set-domain-modal', function (e) {
            e.preventDefault();
            showAddRecordForm();
        })
        .on('click', 'a.del-domain-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'dns:deletezone' service_id %}", $("#dns-del-record-form").serialize(), defaultSuccessCallback, defaultErrorCallback);
        })
        .on('click', 'a.set-domain-form-submit', function (e) {
            e.preventDefault();
            sendPost("{% url 'dns:createzone' service_id %}", $("#dns-add-zone-form").serialize(), defaultSuccessCallback, defaultErrorCallback);
        })
        .on('click', 'a.del-domain', function (e) {
            if($(this).closest('tr').data('domain')) {
                e.preventDefault();
                $("#dns-del-record-form #zone").val($(this).closest('tr').data('domain'));
                $("#del-dom-modal").modal('show');
            }
        })
        .on('click', 'a.edit-domain', function (e) {
            e.preventDefault();
            window.location = "{%url 'dns:index' service_id %}detail/"+$(this).closest('tr').data('domain');
        });
{% endblock %}

{% block content %}
 <!-- BEGIN DNS INDEX CONTENT -->

    <!-- BEGIN CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Domains</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a role="button" class="badge show-set-domain-modal" data-toggle="modal" alt="Create Domain">Add Domain <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEADER -->

    <!-- BEGIN DNS ZONES CONTAINER -->
        <!-- BEGIN ZONES TABLE -->
        <table class="table table-hover" id="dns-zones-table">
            <thead class="row">
                <tr>
                    <th class="col-md-10">Domain</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody id="zones-tbody"></tbody>
        </table>
        <!-- END ZONES TABLE -->
    <!-- END DNS ZONES CONTAINER -->

    <!-- BEGIN ADD DOMAIN MODAL -->
    <div id="add-dom-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Add Domain</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN ADD ZONE FORM -->
                    <form class="form" role="form" id="dns-add-zone-form">
                        <table class="table table-hover" id="add-dns-zone-table">
                            <tr class="form-group">
                                <td><label class="control-label">Domain</label></td>
                                <td>
                                    <div class="controls">
                                        <input type="text" name="domain" id="id_domain" class="form-control" />
                                        <span id="domain-help" class="help-block"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td><label class="control-label">IP Address</label></td>
                                <td>
                                    <div class="controls">
                                        <input type="text" name="ip" id="id_ip" class="form-control" />
                                        <span id="ip-help" class="help-block"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- END ADD ZONE FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-domain-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END ADD DOMAIN MODAL -->

    <!-- BEGIN DELETE DOMAIN MODAL -->
    <div id="del-dom-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete Domain</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>Are you sure you want to delete the domain?</span>
                    <form id="dns-del-record-form" role="form" class="form">
                        <input type="hidden" name="zone" id="zone" value="0" />
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer" id="modalfooter">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary del-domain-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END DELETE DOMAIN MODAL -->

 <!-- END DNS INDEX CONTENT -->
{% endblock %}