{% extends "base.html" %}

{% load staticfiles %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>DNS</small>{% endblock %}

{% block breadcrumbs %}
    <li><a>Services</a></i></li>
    <li>DNS</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

    <script type="text/javascript">
        // Default Success Callback function for AJAX calls
        function defaultSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result)) {
                $('#flash-message').fadeIn();
                if(result.success == 1) {
                    // AJAX call returned successful
                    $('#flash-message').html('<div class="alert alert-success">'+result.message+'</div>');
                    getZones();
                    setTimeout("$('.modal.in').modal('hide')",2000);
                }                    
                else {
                    // AJAX call returned failed
                    $('#flash-message').html('<div class="alert alert-danger">'+result.message+'</div>');
                    if(result.hasOwnProperty('errors')) { 
                        // iterate through and display form validation errors
                        $.each(result.errors, function(k,v) {
                            $("#id_"+k).parents('div').addClass("has-error");
                            $("#"+k+"-help").html(v);
                        });
                    }                        
                }
                setTimeout("$('#flash-message').fadeOut()",2000);
            }            
        }

        // Makes AJAX call to supplied resource with supplied data
        function sendPost(url, data, onsuccess, onerror) {
            $.ajax({
                url: url,
                data: data,
                type: "POST",
                success: onsuccess,
                error: onerror
            });            
        }      

        // Retrieve listing of DNS zones belonging to account
        function getZones() {
            // Destroy existing
            $("#dns-zones-table").dataTable().fnDestroy();
            $("#zones-tbody").html(""); 

            // Successfull AJAX callback function
            function successCallback(result) {
                if(!jQuery.isEmptyObject(result)) {
                    if(result.success == 1) {
                        // AJAX call returned successful
                        for(x in result.data.zones) {
                            $("#zones-tbody").append(' \
                                <tr data-domain="'+result.data.zones[x].domain+'"> \
                                    <td>'+result.data.zones[x].domain+'</td> \
                                    <td> \
                                        <a class="btn edit-domain" role="button"><i class="fa fa-edit"></i> Edit</a> \
                                        <a class="btn del-domain" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i> Delete</a> \
                                    </td> \
                                </tr>'
                            );                          
                        }

                        // Initialize datatables
                        $("#dns-zones-table").dataTable({"aoColumnDefs": [], "aaSorting": [[0, 'asc']]});
                    }                    
                    else {
                        // AJAX call returned failed
                        $("#zones-tbody").html("<tr><td colspan=2>There was an error retrieving DNS zones.</td></tr>");    
                    }
                }
            }    

            // Make the AJAX call
            sendPost("{%url 'dns:getzones' service_id %}", null, successCallback, defaultErrorCallback);           
        }

        // Customizes modal with specifications
        function buildModal(label, body, saveaction) {
            $('#flash-message').hide();
            $('#mlabel').html(label);
            $('#mbody').html(body);    
            $('#msave').attr('onclick', saveaction);        
            $("#mmodal").modal('show');
        }          

        // Build and display Add Zone modal
        function build_add_zone_modal() {
            var modal_onclick_action = 'sendPost("{% url 'dns:createzone' service_id %}", $("#dns-add-zone-form").serialize(), defaultSuccessCallback, defaultErrorCallback)';
            var modal_title = "Add Zone";
            var modal_body = ' \
                <form class="form" role="form" id="dns-add-zone-form"> \
                    <table class="table table-bordered table-hover" id="add-dns-zone-table"> \
                        <tr class="form-group"> \
                            <td><label class="control-label">Domain</label></td> \
                            <td> \
                                <div class="controls"> \
                                    <input type="text" name="domain" id="id_domain" class="form-control" /> \
                                    <span id="domain-help" class="help-block"></span> \
                                </div> \
                            </td> \
                        </tr> \
                        <tr class="form-group"> \
                            <td><label class="control-label">IP Address</label></td> \
                            <td> \
                                <div class="controls"> \
                                    <input type="text" name="ip" id="id_ip" class="form-control" /> \
                                    <span id="ip-help" class="help-block"></span> \
                                </div> \
                            </td> \
                        </tr> \
                    </table> \
                </form>';
            

            buildModal(modal_title, modal_body, modal_onclick_action);            
        }            

        // Build and display Delete Zone modal
        function build_delete_zone_modal(zone) {
            var modal_title = "Delete Zone";
            var modal_body = "Are you sure you want to delete zone " + zone + "?";
            var modal_onclick_action = 'sendPost("{% url 'dns:deletezone' service_id %}", {zone: "'+zone+'"}, defaultSuccessCallback, defaultErrorCallback)';

            buildModal(modal_title, modal_body, modal_onclick_action);            
        }
    </script>    
{% endblock %}

{% block jquery_document_ready %}
    getZones();

    // DNS Zones event bindings
    $('#zones-tbody')
        .on('click', 'a.del-domain', function (e) {
            e.preventDefault();
            build_delete_zone_modal($(this).closest('tr').data('domain'));
        })
        .on('click', 'a.edit-domain', function (e) {
            e.preventDefault();
            window.location = "{%url 'dns:index' service_id %}detail/"+$(this).closest('tr').data('domain');
        })      
{% endblock %}

{% block content %}
 <!-- BEGIN DNS INDEX CONTENT -->

    <!-- BEGIN CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Domains</h3></div>
        <div class="col-md-6 text-right">        
            <div class="btn-group">
                <a onclick="build_add_zone_modal()" role="button" class="badge" data-toggle="modal">Add Domain <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END CONTENT HEADER -->

    <!-- BEGIN DNS ZONES CONTAINER -->
    <div class="row">
        <!-- BEGIN ZONES TABLE -->
        <table class="table table-striped table-bordered table-hover" id="dns-zones-table">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="zones-tbody"></tbody>
        </table>
        <!-- END ZONES TABLE -->
    </div>
    <!-- END DNS ZONES CONTAINER -->

    <!-- BEGIN MODAL -->
    <div id="mmodal" class="modal fade in" role="dialog" aria-labelledby="model-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="mlabel"></h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div id="flash-message"></div>
                    <div id="mbody" class="well"></div>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer" id="modalfooter">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button id="msave" class="btn btn-primary">Ok</button>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END MODAL -->

 <!-- END DNS INDEX CONTENT -->
{% endblock %}