{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Administration{% endblock %}
{% block heading %}Administration <small>IP Space</small>{% endblock %}

{% block breadcrumbs %}
	<li><a>Support</a></li>
	<li><a href="{% url 'ip:index' %}">IP Space</a></li>
  <li>Management</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>
	<script type="text/javascript">
    function defaultSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
            $('.modal-alert').html(result.message);
            $('.modal-alert').fadeIn();

            if(result.success == 1) {
                $('.modal-alert').addClass('alert alert-success');
                getNetworks();
                setTimeout("$('.modal.in').modal('hide')",500);
            }
            else {
                $('.modal-alert').addClass('alert alert-danger');
                $.each(result.errors, function(k,v) {
                  $("#"+k+"-help").closest('tr').addClass("has-error");
                  $("#"+k+"-help").html(v);
                });
            }

            setTimeout("$('.modal-alert').fadeOut()",2000);
            $('.modal-alert').removeClass().addClass('modal-alert');
        }
    }

    function setNetwork() {
        $.ajax({
            url: "{% url 'ip:setnetwork' %}",
            data: $("#set-network-address-form").serialize(),
            type: "POST",
            success: defaultSuccessCallback,
            error: defaultErrorCallback
        });
    }

      function getVlans() {
        $("#vlans-table-tbody").html("");

        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                if(result.success == 1) {
                    for(x in result.data.vlans) {
                        $("#vlans-table-tbody").append(' \
                            <tr data-id="'+result.data.vlans[x].id+'"> \
                                <td>'+result.data.vlans[x].number+'</td> \
                                <td>'+result.data.vlans[x].name+'</td> \
                                <td>'+result.data.vlans[x].description+'</td> \
                                <td class="text-right"> \
                                    <a href="#" class="edit-vlan" alt="Edit VLAN"><i class="fa fa-edit" style="color:green"></i></a> \
                                    <a href="#" class="del-vlan" alt="Delete VLAN"><i class="fa fa-trash-o" style="color:red"></i></a> \
                                </td> \
                            </tr>'
                        );
                    }
                }
                else {
                    $("#vlans-table-tbody").append("<tr class='has-error'><td colspan=4><em>"+result.message+"</em></td></tr>");
                }
            }
        }

        $.ajax({
            url: "{% url 'ip:getvlan' %}",
            type: "POST",
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function getVrfs() {
        $("#vrfs-table-tbody").html("");

        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                if(result.success == 1) {
                    for(x in result.data.vrfs) {
                        $("#vrfs-table-tbody").append(' \
                            <tr data-id="'+result.data.vrfs[x].id+'"> \
                                <td>'+result.data.vrfs[x].distinguisher+'</td> \
                                <td>'+result.data.vrfs[x].name+'</td> \
                                <td>'+result.data.vrfs[x].description+'</td> \
                                <td class="text-right"> \
                                    <a href="#" class="edit-vrf" alt="Edit VRF"><i class="fa fa-edit" style="color:green"></i></a> \
                                    <a href="#" class="del-vrf" alt="Delete VRF"><i class="fa fa-trash-o" style="color:red"></i></a> \
                                </td> \
                            </tr>'
                        );
                    }
                }
                else {
                    $("#vrfs-table-tbody").append("<tr class='has-error'><td colspan=4><em>"+result.message+"</em></td></tr>");
                }
            }
        }

        $.ajax({
            url: "{% url 'ip:getvrf' %}",
            type: "POST",
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
      }

    function vrfDefaultSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
            $('.modal-alert').html(result.message);
            $('.modal-alert').fadeIn();

            if(result.success == 1) {
                $('.modal-alert').addClass('alert alert-success');
                getVrfs();
                setTimeout("$('.modal.in').modal('hide')",500);
            }
            else {
                $('.modal-alert').addClass("alert alert-danger");
                $.each(result.errors, function(k,v) {
                  $("#"+k+"-help").closest('tr').addClass("has-error");
                  $("#"+k+"-help").html(v);
                });
            }

            setTimeout("$('.modal-alert').fadeOut()",2000);
            $('.modal-alert').removeClass().addClass('modal-alert');
        }
    }

      function deleteVrf() {
        $.ajax({
            url: "{% url 'ip:delvrf' %}",
            type: "POST",
            data: $("#vrf-form").serialize(),
            success: vrfDefaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function setVrf() {
        $.ajax({
            url: "{% url 'ip:setvrf' %}",
            type: "POST",
            data: $("#vrf-form").serialize(),
            success: vrfDefaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

    function vlanDefaultSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
            $('.modal-alert').html(result.message);
            $('.modal-alert').fadeIn();

            if(result.success == 1) {
               $('.modal-alert').addClass('alert alert-success');
                getVlans();
                setTimeout("$('.modal.in').modal('hide')",500);
            }
            else {
                $('.modal-alert').addClass("alert alert-danger");
                $.each(result.errors, function(k,v) {
                  $("#"+k+"-help").closest('tr').addClass("has-error");
                  $("#"+k+"-help").html(v);
                });
            }

            setTimeout("$('.modal-alert').fadeOut()",2000);
            $('.modal-alert').removeClass().addClass('modal-alert');
        }
    }

    function deleteVlan() {
        $.ajax({
            url: "{% url 'ip:delvlan' %}",
            type: "POST",
            data: $("#vlan-form").serialize(),
            success: vlanDefaultSuccessCallback,
            error: defaultErrorCallback
        });
    }

      function setVlan() {
        $.ajax({
            url: "{% url 'ip:setvlan' %}",
            type: "POST",
            data: $("#vlan-form").serialize(),
            success: vlanDefaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

    function getNetworks() {
        $("#networks-list-table").dataTable().fnDestroy();
        $("#networks-list-tbody").html("");

        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                if(result.success == 1) {
                    for(x in result.data.networks) {
                        $("#networks-list-tbody").append(' \
                        <tr data-id="'+result.data.networks[x].id+'"> \
                            <td>'+result.data.networks[x].address+'</td> \
                            <td>/'+result.data.networks[x].cidr+'</td> \
                            <td>'+result.data.networks[x].vlan+'</td> \
                            <td>'+result.data.networks[x].owner+'</td> \
                            <td>'+result.data.networks[x].description+'</td> \
                            <td class="text-right"> \
                                <a href="#" class="btn btn-xs btn-primary edit-network" role="button" alt="Edit Network Address">Edit</a> \
                                <a href="#" class="btn btn-xs btn-success resize-network" role="button" alt="Resize Network Address">Resize</a> \
                                <a href="#" class="btn btn-xs btn-info split-network" role="button" alt="Split Network Address">Split</a> \
                                <a href="#" class="btn btn-xs btn-warning truncate-network" role="button" alt="Truncate Network Address">Truncate</a> \
                                <a href="#" class="btn btn-xs btn-danger delete-network" role="button" alt="Delete Network Address">Delete</a> \
                            </td> \
                        </tr>');

                        {% if parent %}
                            for(y in result.data.networks[x].usable_hosts) {
                                $("#ip_address").append('<OPTION>'+result.data.networks[x].usable_hosts[y]+'</OPTION>');
                            }
                        {% endif %}
                    }
                    $("#networks-list-table").dataTable({"aoColumnDefs": [],"aaSorting": [[0, 'asc']]});
                }
                else {
                    $("#networks-list-tbody").html("<tr class='has-error'><td colspan=5><em>"+result.message+"</em></td></tr>");
                }
            }
        }

        $.ajax({
            url: "{% url 'ip:getnetworks' %}",
            type: "POST",
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
    }

    function getSplitOptions(id) {
        $("#split-network-form #id_new_cidr").html("");

        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                if(result.success == 1) {
                    for(x in result.data.options) {
                        $("#split-network-form #id_new_cidr").append('<OPTION value="'+result.data.options[x].prefix+'">'+result.data.options[x].numnets+' x /'+result.data.options[x].prefix+' ('+result.data.options[x].numnets+' x '+result.data.options[x].numhosts+' hosts)</OPTION>');
                    }
                }
            }
        }

        $.ajax({
            url: "{% url 'ip:getsplitopts' %}",
            type: "POST",
            data: {'networkaddress_id': id},
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
    }

      function splitNetwork() {
        $.ajax({
            url: "{% url 'ip:split' %}",
            type: "POST",
            data: $("#split-network-form").serialize(),
            success: defaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function resizeNetwork() {
        $.ajax({
            url: "{% url 'ip:resize' %}",
            type: "POST",
            data: $("#resize-network-form").serialize(),
            success: defaultSuccessCallback,
            error: defaultErrorCallback
        });
      }


      function truncateNetwork() {
        $.ajax({
            url: "{% url 'ip:truncate' %}",
            type: "POST",
            data: $("#truncate-network-form").serialize(),
            success: defaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

      function deleteNetwork() {
        $.ajax({
            url: "{% url 'ip:delnetwork' %}",
            type: "POST",
            data: $("#delete-network-form").serialize(),
            success: defaultSuccessCallback,
            error: defaultErrorCallback
        });
      }

    function getNetwork(id) {
        resetSetNetworkForm();
        $("#id_address").attr("readonly", true);
        $("#id_cidr").attr("readonly", true);

        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                if(result.success == 1) {
                    $("#id_address").val(result.data.network.address);
                    $("#id_cidr").val(result.data.network.cidr);
                    $("#id_description").val(result.data.network.description);
                    $("#id_parent").val(result.data.network.parent);
                    $("#id_vrf").val(result.data.network.vrf_pk);
                    $("#id_vlan").val(result.data.network.vlan_pk);
                    $("#id_owner").val(result.data.network.owner_pk);
                    $("#id_networkaddress_id").val(id);
                }
                else {
                    $("#networks-list-tbody").html("<tr class='has-error'><td colspan=5><em>"+result.message+"</em></td></tr>");
                }
            }
        }

        $.ajax({
            url: "{% url 'ip:getnetwork' %}",
            type: "POST",
            data: {'networkaddress_id': id},
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
    }

    function setNetwork() {
        function onSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
                $('.modal-alert').html(result.message);
                $('.modal-alert').fadeIn();

                if(result.success == 1) {
                    $('.modal-alert').addClass("alert alert-success");
                    getNetworks();
                    setTimeout("$('.modal.in').modal('hide')",500);
                }
                else {
                    $('.modal-alert').addClass("alert alert-danger");
                    $.each(result.errors, function(k,v) {
                      $("#"+k+"-help").closest('tr').addClass("has-error");
                      $("#"+k+"-help").html(v);
                    });
                }

                setTimeout("$('.modal-alert').fadeOut()",2000);
                $('.modal-alert').removeClass().addClass('modal-alert');
            }
        }

        $.ajax({
            url: "{% url 'ip:setnetwork' %}",
            type: "POST",
            data: $("#set-network-address-form").serialize(),
            success: onSuccessCallback,
            error: defaultErrorCallback
        });
    }

    function resetSetNetworkForm() {
        $("#set-network-address-form").trigger('reset');
        $("#id_address").attr("readonly", false);
        $("#id_cidr").attr("readonly", false);
        $("#set-network-modal").modal('show');
    }

    function resestVlanForm() {
        $("#set-vlan-form").trigger('reset');
        $("#set-vlan-modal").modal('show');
    }

    function resetVrfForm() {
        $("#set-vrf-form").trigger('reset');
        $("#set-vrf-modal").modal('show');
    }
	</script>
{% endblock %}

{% block jquery_document_ready %}
    getVlans();
    getVrfs();
    getNetworks();

    $(document)
        .on('click', 'a.truncate-network-form-submit', function (e) {
            e.preventDefault();
            truncateNetwork();
        })
        .on('click', 'a.resize-network-form-submit', function (e) {
            e.preventDefault();
            resizeNetwork();
        })
        .on('click', 'a.split-network-form-submit', function (e) {
            e.preventDefault();
            splitNetwork();
        })
        .on('click', 'a.delete-network-form-submit', function (e) {
            e.preventDefault();
            deleteNetwork();
        })
        .on('click', 'a.set-network-form-submit', function (e) {
            e.preventDefault();
            setNetwork();
        })
        .on('click', 'a.delete-vlan-form-submit', function (e) {
            e.preventDefault();
            deleteVlan();
        })
        .on('click', 'a.set-vlan-form-submit', function (e) {
            e.preventDefault();
            deleteVrf();
        })
        .on('click', 'a.delete-vrf-form-submit', function (e) {
            e.preventDefault();
            deleteVrf();
        })
        .on('click', 'a.set-vrf-form-submit', function (e) {
            e.preventDefault();
            setVrf();
        })
        .on('click', 'a.refresh-vrfs', function (e) {
            e.preventDefault();
            getVrfs();
        })
        .on('click', 'a.show-set-vrf-modal', function (e) {
            e.preventDefault();
            resestVrfForm();
        })
        .on('click', 'a.refresh-vlans', function (e) {
            e.preventDefault();
            getVlans();
        })
        .on('click', 'a.show-set-vlan-modal', function (e) {
            e.preventDefault();
            resestVlanForm();
        })
        .on('click', 'a.refresh-networks', function (e) {
            e.preventDefault();
            getNetworks();
        })
        .on('click', 'a.show-set-network-modal', function (e) {
            e.preventDefault();
            resetSetNetworkForm();
        })

    $('#vlans-table-tbody')
        .on('click', 'a.del-vlan', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                $("#del-vlan-form #vlan_id").val($(this).closest('tr').data('id'))
                $("#del-vlan-modal").modal('show');
            }
        })
        .on('click', 'a.edit-vlan', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                resestVlanForm();
                $("#set-vlan-form #id_number").val($(this).closest('tr').find("td").eq(0).html());
                $("#set-vlan-form #id_name").val($(this).closest('tr').find("td").eq(1).html());
                $("#set-vlan-form #id_description").val($(this).closest('tr').find("td").eq(2).html());
                $("#set-vlan-form #vlan_id").val($(this).closest('tr').data('id'));
            }
        });

    $('#vrfs-table-tbody')
        .on('click', 'a.del-vrf', function (e) {
            e.preventDefault();
            $("#del-vrf-form #vrf_id").val($(this).closest('tr').data('id'))
            $("#del-vrf-modal").modal('show');
        })
        .on('click', 'a.edit-vrf', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                resetVrfForm();
                $("#set-vrf-form #id_distinguisher").val($(this).closest('tr').find("td").eq(0).html());
                $("#set-vrf-form #id_name").val($(this).closest('tr').find("td").eq(1).html());
                $("#set-vrf-form #id_description").val($(this).closest('tr').find("td").eq(2).html());
                $("#set-vrf-form #vrf_id").val($(this).closest('tr').data('id'));
            }
        });

    $('#networks-list-table')
        .on('click', 'a.delete-network', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                $("#delete-network-form #networkaddress_id").val($(this).closest('tr').data('id'));
                $("#delete-network-modal").modal('show');
            }
        })
        .on('click', 'a.edit-network', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                getNetwork($(this).closest('tr').data('id'));
            }
        })
        .on('click', 'a.truncate-network', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                $("#truncate-network-form").trigger('reset');
                $("#truncate-network-form #networkaddress_id").val($(this).closest('tr').data('id'));
                $("#truncate-network-modal").modal('show');
            }
        })
        .on('click', 'a.resize-network', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                $("#resize-network-form").trigger('reset');
                $("#resize-network-form #networkaddress_id").val($(this).closest('tr').data('id'));
                $("#resize-network-modal").modal('show');
            }
        })
        .on('click', 'a.split-network', function (e) {
            if($(this).closest('tr').data('id')) {
                e.preventDefault();
                $("#split-network-form").trigger('reset');
                getSplitOptions($(this).closest('tr').data('id'));
                $("#split-network-form #networkaddress_id").val($(this).closest('tr').data('id'));
                $("#split-network-modal").modal('show');
            }
        });
{% endblock %}

{% block content %}
 <!-- BEGIN IP SPACE MANAGEMENT CONTENT -->
    <!-- BEGIN NETWORKADDRESS CONTAINER HEAD -->
    <div class="row page-head">
        <div class="col-md-6"><h3 id="article-title">Networks</h3></div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a href="#" role="button" class="refresh-networks"><i class="fa fa-refresh"></i></a>
                <a href="#" role="button" class="show-set-network-modal"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <!-- END NETWORKADDRESS CONTAINER HEAD -->
    <!-- BEGIN NETWORKADDRESS CONTAINER BODY -->
        <!-- BEGIN NETWORKS TABLE -->
        <table class="table table-hover" id="networks-list-table">
            <thead class="row">
                <tr>
                    <th class="col-md-2">Network Address</th>
                    <th class="col-md-1">CIDR</th>
                    <th class="col-md-1">Vlan</th>
                    <th class="col-md-2">Owner</th>
                    <th class="col-md-3">Description</th>
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody id="networks-list-tbody"></tbody>
        </table>
        <!-- END NETWORKS TABLE -->
    <!-- END NETWORKADDRESS CONTAINER BODY -->

    <div class="row">
        <div class="col-md-5">
            <!-- BEGIN VLAN CONTAINER HEAD -->
            <div class="row page-head">
                <div class="col-md-6"><h3 id="article-title">VLANs</h3></div>
                <div class="col-md-6 text-right">
                    <div class="btn-group">
                        <a href="#" role="button" class="refresh-vlans"><i class="fa fa-refresh"></i></a>
                        <a href="#" role="button" class="show-set-vlan-modal"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <!-- END VLAN CONTAINER HEAD -->
            <!-- BEGIN VLAN CONTAINER BODY -->
                <!-- BEGIN VLAN TABLE -->
                <table id="vlans-table" class="table table-hover">
                    <thead class="row">
                        <tr>
                            <th class="col-md-2">Number</th>
                            <th class="col-md-4">Name</th>
                            <th class="col-md-4">Description</th>
                            <th class="col-md-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="vlans-table-tbody"></tbody>
                </table>
                <!-- END VLAN TABLE -->
            <!-- END VLAN CONTAINER BODY -->
        </div>
        <div class="col-md-offset-2 col-md-5">
            <!-- BEGIN VRF CONTAINER HEAD -->
            <div class="row page-head">
                <div class="col-md-6"><h3 id="article-title">VRFs</h3></div>
                <div class="col-md-6 text-right">
                    <div class="btn-group">
                        <a href="#" role="button" class="refresh-vrfs"><i class="fa fa-refresh"></i></a>
                        <a href="#" role="button" class="show-set-vrf-modal"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <!-- END VRF CONTAINER HEAD -->
            <!-- BEGIN VRF CONTAINER BODY -->
                <!-- BEGIN VRF TABLE -->
                <table id="vrfs-table" class="table table-hover">
                    <thead class="row">
                        <tr>
                            <th class="col-md-2">Distinguisher</th>
                            <th class="col-md-4">Name</th>
                            <th class="col-md-4">Description</th>
                            <th class="col-md-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="vrfs-table-tbody"></tbody>
                </table>
                <!-- END VRF TABLE -->
            <!-- END VRF CONTAINER BODY -->
        </div>
    </div>

    <!-- BEGIN DELETE VRF MODAL -->
    <div id="del-vrf-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete VRF</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>Are you sure you want to delete the selected VRF?</span>
                    <form id='del-vrf-form' role="form">
                        <input type='hidden' name='vrf_id' id="vrf_id" value="0" />
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary delete-vrf-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END MODAL -->

    <!-- BEGIN SET VRF MODAL -->
    <div id="set-vrf-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set VRF</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN SET VRF FORM -->
                    <form id="set-vrf-form" class="form form-vertical" role="form">
                        <input type="hidden" name="vrf_id" value="0" />
                        <table class="table table-hover" id="set-vrf-form-table">
                            {% for field in vrfform %}
                                <tr class="form-group">
                                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                                    <td>
                                        <div class="controls">
                                            {{ field|addcss:"form-control" }}
                                            <span id="{{ field.html_name }}-help" class="help-inline"></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                    <!-- END SET VRF FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-vrf-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END MODAL -->

    <!-- BEGIN DELETE VLAN MODAL -->
    <div id="del-vlan-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete VLAN</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>Are you sure you want to delete the selected VLAN?</span>
                    <form id='del-vlan-form' role="form">
                        <input type='hidden' name='vlan_id' id="vlan_id" value='' />
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary delete-vlan-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END DELETE VLAN MODAL -->

    <!-- BEGIN SET VLAN MODAL -->
    <div id="set-vlan-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set VLAN</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!-- BEGIN SET VLAN FORM -->
                    <form id="set-vlan-form" class="form form-vertical" role="form">
                        <input type="hidden" name="vlan_id" id="vlan_id" value="0" />
                        <table class="table table-bordered table-hover" id="set-vrf-form-table">
                            {% for field in vlanform %}
                                <tr class="form-group">
                                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                                    <td>
                                        <div class="controls">
                                            {{ field|addcss:"form-control" }}
                                            <span id="{{ field.html_name }}-help" class="help-inline"></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                    <!-- END SET VLAN FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-vlan-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END SET VLAN MODAL -->

    <!-- BEGIN TRUNCATE NETWORK MODAL -->
    <div id="truncate-network-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Truncate Network</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>Truncating the network will purge all IPAddress objects and PTR records belonging to subnet.<br /><br />Proceed?</span>
                    <form id="truncate-network-form" class="form" role="form">
                        <input type="hidden" name="networkaddress_id" id="networkaddress_id" value="0" />
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary truncate-network-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END TRUNCATE NETWORK MODAL -->

    <!-- BEGIN RESIZE NETWORK MODAL -->
    <div id="resize-network-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Resize Network</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>
                        <em>Any IPAddress objects belonging to existing NetworkAddress must reside inside the new block or else the request will fail.</em>
                    </span>
                    <form id="resize-network-form" class="form form-vertical" role="form">
                        <input type="hidden" name="networkaddress_id" id="networkaddress_id" value="0" />
                        <table class="table table-bordered table-hover" id="resize-network-form-table">
                            {% for field in resizenetworkform %}
                                <tr class="form-group">
                                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                                    <td>
                                        <div class="controls">
                                            {{ field|addcss:"form-control" }}
                                            <span id="{{ field.html_name }}-help" class="help-inline"></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary resize-network-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END RESIZE NETWORK MODAL -->

    <!-- BEGIN SPLIT NETWORK MODAL -->
    <div id="split-network-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Split Network</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!--BEGIN SPLIT NETWORK FORM -->
                    <form id="split-network-form" class="form form-vertical" role="form">
                        <input type="hidden" name="networkaddress_id" id="networkaddress_id" value="0" />
                        <table class="table table-hover" id="split-network-form-table">
                            {% for field in splitnetworkform %}
                                <tr class="form-group">
                                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                                    <td>
                                        <div class="controls">
                                            {{ field|addcss:"form-control" }}
                                            <span id="{{ field.html_name }}-help" class="help-inline"></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                    <!--END SPLIT NETWORK FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary split-network-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END SPLIT NETWORK MODAL -->

    <!-- BEGIN SET NETWORK MODAL -->
    <div id="set-network-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set Network</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <!--BEGIN SET NETWORK FORM -->
                    <form id="set-network-address-form" clas="form form-vertical" role="form">
                        <input type="hidden" name="networkaddress_id" id="id_networkaddress_id" value="0" />
                        <table class="table table-hover" id="kb-article-form-table">
                            {% for field in networkaddressform %}
                                <tr class="form-group">
                                    <td><label class="control-label">{{ field.label_tag }}</label></td>
                                    <td>
                                        <div class="controls">
                                            {{ field|addcss:"form-control" }}
                                            <span id="{{ field.html_name }}-help" class="help-inline"></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                    <!--END SET NETWORK FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-network-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END SET NETWORK MODAL -->

    <!-- BEGIN DELETE NETWORK MODAL -->
    <div id="delete-network-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Delete Network</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <span>
                        Deleting a NetworkAddress will also delete any related IPAddress objects,
                        PTR records and child NetworkAddresses.<br /><br />Proceed?
                    </span>
                    <!--BEGIN SET NETWORK FORM -->
                    <form role="form" id="delete-network-form">
                        <input type="hidden" name="networkaddress_id" id="networkaddress_id" value="0" />
                    </form>
                    <!--END SET NETWORK FORM -->
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary delete-network-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END DELETE NETWORK MODAL -->

 <!-- END IP SPACE MANAGEMENT CONTENT -->
{% endblock %}