{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Services{% endblock %}
{% block heading %}Services <small>IP Space</small>{% endblock %}

{% block breadcrumbs %}
    <li><a>Services</a></i></li>
    <li>
        <a href="{% url 'ip:index' %}">IP Space</a>
    </li>
    {% if parent %}
        <li>
        {% if network %}
            <a href="{% url 'ip:index' parent %}">{{ parent }}</a>
        {% else %}
            {{ parent }}
        {% endif %}
        </li>
    {% endif %}
    {% if network %}
        <li>{{ network }}</li>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

    <script type="text/javascript">
        function defaultSuccessCallback(result) {
            if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
                $('.modal-alert').html(result.message);
                $('.modal-alert').fadeIn();

                if(result.success == 1) {
                    $('.modal-alert').addClass('alert alert-success');
                    getHosts();
                    setTimeout("$('.modal.in').modal('hide')",500);
                }
                else {
                    $('.modal-alert').addClass('alert alert-danger');
                    $.each(result.errors, function(k,v) {
                        $("#"+k).val(v);
                    });
                }

                setTimeout("$('.modal-alert').fadeOut()",2000);
                $('.modal-alert').removeClass().addClass('modal-alert');
            }
        }

        function getHostDetails(ipaddr) {
            $('#mlabel').html(ipaddr);
            $('.modal-alert').html("");
            $('#ip_description').html("");
            $('#ip_ptr').val("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result)) {
                    if(result["success"] == 1) {
                        $('#ip_description').val(result["data"]["host"]["description"]);
                        $('#ip_ptr').val(result["data"]["host"]["ptr"]);
                    }
                }
            }

            $.ajax({
                url: "{% url 'ip:gethost' %}",
                data: {"network": "{{ parent }}", "address": ipaddr},
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function setHostDetails() {
            $.ajax({
                url: "{% url 'ip:sethost' %}",
                data: $("#set-host-form").serialize(),
                type: "POST",
                success: defaultSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function getNetworks() {
            $("#networks-list-table").dataTable().fnDestroy();
            $("#networks-list-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.networks) {
                            $("#networks-list-tbody").append(' \
                                <tr> \
                                    <td>'+result.data.networks[x].address+'</td> \
                                    <td>/'+result.data.networks[x].cidr+'</td> \
                                    <td>'+result.data.networks[x].subnet+'</td> \
                                    <td>'+result.data.networks[x].vlan+'</td> \
                                    <td>'+result.data.networks[x].description+'</td> \
                                </tr>'
                            );

                            {% if parent %}
                                for(y in result.data.networks[x].usable_hosts) {
                                    $("#ip_address").append('<OPTION>'+result.data.networks[x].usable_hosts[y]+'</OPTION>');
                                }
                            {% endif %}
                        }
                    }
                    else {
                        $("#networks-list-tbody").html("<tr class='has-error'><td colspan=5><em>"+result.message+"</em></td></tr>");
                    }

                    $("#networks-list-table").dataTable({"aaSorting": [[0, 'asc']]});
                }
            }

            $.ajax({
                url: "{% url 'ip:getnetworks' %}",
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function getHosts() {
            $("#ip-list-table").dataTable().fnDestroy();
            $("#ip-list-tbody").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.hosts) {
                            $("#ip-list-tbody").append(' \
                                <tr> \
                                    <td>'+result.data.hosts[x].address+'</td> \
                                    <td>'+result.data.hosts[x].ptr+'</td> \
                                    <td>'+result.data.hosts[x].description+'</td> \
                                </tr>'
                            );
                        }
                    }
                    else {
                        $("#ip-list-tbody").html("<tr class='has-error'><td colspan=3><em>"+result.message+"</em></td></tr>");
                    }

                    $("#ip-list-table").dataTable({"aaSorting": [[0, 'asc']]});
                }
            }

            $.ajax({
                url: "{% url 'ip:gethosts' %}",
                data: {"parent": "{{ parent }}"},
                type: "POST",
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }

        function getNetworkUsable() {
            $("#ip_address").html("");

            function onSuccessCallback(result) {
                if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
                    if(result.success == 1) {
                        for(x in result.data.usable_hosts) {
                            $("#ip_address").append('<OPTION>'+result.data.usable_hosts[x]+'</OPTION>');
                        }
                    }
                }
            }

            $.ajax({
                url: "{% url 'ip:getnetworkusable' %}",
                type: "POST",
                data: {'network': '{{ parent }}'},
                success: onSuccessCallback,
                error: defaultErrorCallback
            });
        }


        function buildHostModal() {
            $('#set-host-form').trigger('reset');
            $('#set-host-modal').modal('show');
        }

    </script>
{% endblock %}

{% block jquery_document_ready %}
    {% if parent %}
        getHosts();
        getNetworkUsable();
    {% endif %}

    getNetworks();

    $(document)
        .on('click', 'a.set-host-form-submit', function (e) {
            e.preventDefault();
            setHostDetails();
        })
        .on('click', 'a.show-set-host-modal', function (e) {
            e.preventDefault();
            buildHostModal();
        });

    $('#networks-list-table').on('click', 'tr', function () {
        // Grab the address and cidr or the selected row and build a URL string (BE CAREFUL)
        window.location = "{% url 'ip:index' %}" + encodeURIComponent($(this).find("td").eq(0).html() + $(this).find("td").eq(1).html());
    });

    $('#ip-list-table').on('click', 'tr', function () {
        buildHostModal();
        $("#ip_address").val($(this).find("td").eq(0).html());
        getHostDetails($(this).find("td").eq(0).html());
    });

    $('#ip_address').on('change', function() {
        getHostDetails($(this).val());
    });
{% endblock %}

{% block content %}
 <!-- BEGIN IP INDEX CONTENT -->

    <!-- BEGIN CONTENT HEADER -->
    <div class="row page-head">
        <div class="col-md-12"><i class="fa fa-edit"></i>&nbsp;<h3>Networks</h3></div>
    </div>
    <!-- END CONTENT HEADER -->

    <!-- BEGIN NETWORKS CONTAINER -->
        <!-- BEGIN NETWORKS TABLE -->
        <table class="table table-hover" id="networks-list-table">
            <thead class="row">
                <tr>
                    <th class="col-md-3">Network Address</th>
                    <th class="col-md-1">CIDR</th>
                    <th class="col-md-2">Netmask</th>
                    <th class="col-md-2">Vlan</th>
                    <th class="col-md-4">Description</th>
                </tr>
            </thead>
            <tbody id="networks-list-tbody"></tbody>
        </table>
        <!-- END NETWORKS TABLE -->
    <!-- END NETWORKS CONTAINER  -->

    {% if parent %}
        <!-- BEGIN CONTENT HEADER -->
        <div class="row page-head">
            <div class="col-md-6"><i class="fa fa-edit"></i>&nbsp;<h3>Hosts</h3></div>
            <div class="col-md-6 text-right">
                <div class="btn-group">
                    <a role="button" class="badge show-set-host-modal" data-toggle="modal">Create Host Address <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <!-- END CONTENT HEADER -->

        <!-- BEGIN HOSTS CONTAINER -->
            <!-- BEGIN HOSTS TABLE -->
            <table class="table table-hover" id="ip-list-table">
                <thead class="row">
                    <tr>
                        <th class="col-md-3">IP Address</th>
                        <th class="col-md-3">Hostname (PTR)</th>
                        <th class="col-md-6">Description</th>
                    </tr>
                </thead>
                <tbody id="ip-list-tbody"></tbody>
            </table>
            <!-- END HOSTS TABLE -->
        <!-- END HOSTS CONTAINER -->
    {% endif %}

    <!-- BEGIN MODAL -->
    <div id="set-host-modal" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN MODAL HEADER -->
                <div class="modal-header">
                    <h3>Set Host Address</h3>
                </div>
                <!-- END MODAL HEADER -->
                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-alert"></div>
                    <form role="form" class="form form-vertical" id="set-host-form">
                        <input type="hidden" name="network" value="{{ parent }}" />
                        <table class="table table-hover" id="add-ip-form-table">
                            <tr>
                                <td>IP Address</td>
                                <td><select class="form-control" name="address" id="ip_address" autocomplete="off"></select></td>
                            </tr>
                            <tr>
                                <td>Hostname (PTR)</td>
                                <td><input type="text" name="ptr" id="ip_ptr" class="form-control" maxlength="64" value="" /></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><input type="text" name="description" id="ip_description" class="form-control" maxlength="256" value="" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <!-- END MODAL BODY -->
                <!-- BEGIN MODAL FOOTER -->
                <div class="modal-footer">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="button" class="btn btn-primary set-host-form-submit">Ok</a>
                </div>
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </div>
    <!-- END MODAL -->

    <div class="text-center">
        <a href="{% url 'ip:request_space' %}" class="btn btn-primary" role="button">Request Additional IP Space</a>
    </div>

 <!-- END IP INDEX CONTENT -->
{% endblock %}