{% extends "base.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block sitetitle %}| Dashboard{% endblock %}
{% block heading %}Admin Portal <small>Dashboard</small>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static '/assets/plugins/data-tables/DT_bootstrap.css' %}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static '/assets/plugins/data-tables/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static '/assets/plugins/data-tables/DT_bootstrap.js' %}"></script>

  <script type="text/javascript">
    function setAnnouncement() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getAnnouncements();
            setTimeout("$('#set-announcement-modal').fadeOut()",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
            if(result.hasOwnProperty('errors')) {
              $.each(result.errors, function(k,v) {
                $("#"+k+"-help").closest('tr').addClass("has-error");
                $("#"+k+"-help").html(v);
              });
            }
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'announcements:setnews' %}",
        type: "POST",
        data: $("#set-announcements-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    function delAnnouncement() {
      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message')) {
          $('.modal-alert').html(result.message);
          $('.modal-alert').fadeIn();

          if(result.success == 1) {
            $('.modal-alert').addClass('alert alert-success');
            getAnnouncements();
            setTimeout("$('#del-announcement-modal').fadeOut()",500);
          }
          else {
            $('.modal-alert').addClass('alert alert-danger');
          }

          setTimeout("$('.modal-alert').fadeOut()",2000);
          $('.modal-alert').removeClass().addClass('modal-alert');
        }
      }

      $.ajax({
        url: "{% url 'announcements:delnews' %}",
        type: "POST",
        data: $("#del-announcements-form").serialize(),
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    function showSetAnnouncementForm() {
      $("#set-announcements-form").trigger('reset');
      $("#id_public").removeAttr('checked');
      $("#set-announcement-modal").modal('show');
    }

    function getAnnouncement(announcement_id) {
      function onSuccessCallback(result) {
       if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
          if(result.success==1) {
            $("#id_title").val(result.data.announcement.title);
            $("#id_body").val(result.data.announcement.body);
            $("#id_public").prop('checked', result.data.announcement.public);
          }
        }
      }

      $.ajax({
        url: "{% url 'announcements:get' %}",
        type: "POST",
        data: {'announcement_id': announcement_id},
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    function getAnnouncements() {
      $("#news-postings").html("");

      function onSuccessCallback(result) {
       if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
          if(result.success==1) {
            if(result.data.news.length > 0) {
              for(x in result.data.news) {
                var priv = "";
                if(!result.data.news[x].public) {
                  priv = '<i class="fa fa-eye"></i>';
                }

                $("#news-postings").append(' \
                  <!-- BEGIN POSTING --> \
                  <div class="list-group-item" data-id="'+result.data.news[x].id+'"> \
                      <div class="row"> \
                          <div class="col-md-5" style="text-indent: 10px"><strong>'+result.data.news[x].title+priv+'</strong></div> \
                          <div class="col-md-7 text-right"><small>'+result.data.news[x].author+' @ '+result.data.news[x].timestamp+'</small></div> \
                      </div> \
                      <div class="row"> \
                        <span class="col-md-12 text-justify" style="text-indent: 6px; margin-top: 10px">'+result.data.news[x].body+'</span> \
                        <span class="pull-right" style="padding-right: 15px"> \
                          <a href="#" class="edit-announcement" alt="Edit Announcement"><i class="fa fa-edit" style="color: green"></i></a>\
                          <a href="#" class="del-announcement" alt="Delete Announcement"><i class="fa fa-trash-o" style="color: red"></i></a>\
                        </span> \
                      </div> \
                  </div> \
                  <!-- END POSTING -->'
                );
              }
            }
            else {
              $("#news-postings").html('<div class="alert text-center"><em>No announcements.</em></div>');
            }
          }
        }
        else {
          $("#news-postings").html('<div class="alert alert-danger text-center"><em>'+result.message+'</em>.</div>');
        }
      }

      $.ajax({
        url: "{% url 'announcements:getall' %}",
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }

    function getTickets() {
      $("#tickets-tbody").html("");

      function onSuccessCallback(result) {
        if(!jQuery.isEmptyObject(result) && result.hasOwnProperty('success') && result.hasOwnProperty('message') && result.hasOwnProperty('data')) {
          if(result.success == 1) {
            if(result.data.tickets.length == 0) {
              $("#tickets-tbody").html('<tr><td colspan=5><em>There are no open tickets.</em></td></tr>');
            }
            else {
              for(x in result.data.tickets) {
                $("#tickets-tbody").append(' \
                    <tr data-id="'+result.data.tickets[x].id+'"> \
                        <td>'+result.data.tickets[x].id+'</td> \
                        <td>'+result.data.tickets[x].description+'</td> \
                        <td>'+result.data.tickets[x].author+'</td> \
                        <td>'+result.data.tickets[x].owner+'</td> \
                        <td>'+result.data.tickets[x].lastupdate+'</td> \
                    </tr>'
                );
              }
            }
          }
          else {
            $("#tickets-tbody").html("<tr class='has-error'><td colspan=5><em>"+result.message+"</em></td></tr>");
          }
        }
      }

      $.ajax({
        url: "{%url 'tickets:gettickets' %}",
        type: "POST",
        success: onSuccessCallback,
        error: defaultErrorCallback
      });
    }
  </script>
{% endblock %}

{% block jquery_document_ready %}
  getAnnouncements();
  getTickets();

  $("#tickets-tbody").on('click', 'tr', function () {
    if($(this).data('id')) {
      window.location = "{% url 'tickets:detail' 0 %}".replace('0', $(this).data('id'));
    }
  });

  $(document)
    .on('click', 'a.del-announcement-form-submit', function (e) {
      delAnnouncement();
    })
    .on('click', 'a.set-announcement-form-submit', function (e) {
      setAnnouncement();
    })
    .on('click', 'a.refresh-tickets', function (e) {
      getTickets();
    })
    .on('click', 'a.refresh-announcements', function (e) {
      getAnnouncements();
    })
    .on('click', 'a.show-set-announcement-modal', function (e) {
      showSetAnnouncementForm();
    })
    .on('click', 'a.del-announcement', function (e) {
      if($(this).closest('div').parent().data('id')) {
        $("#del-announcements-form #announcement_id").val($(this).closest('div').parent().data('id'));
        $('#del-announcement-modal').modal('show');
      }
    })
    .on('click', 'a.edit-announcement', function (e) {
      if($(this).closest('div').parent().data('id')) {
        showSetAnnouncementForm();
        $("#set-announcements-form #announcement_id").val($(this).closest('div').parent().data('id'));
        getAnnouncement($(this).closest('div').parent().data('id'));
      }
    });
{% endblock %}

{% block content %}
<!-- BEGIN BACKEND CONTENT -->
  <div class="row">
    <!-- BEGIN NEWS CONTAINER -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Announcements</strong>
          <span class="pull-right">
            <a href="#" role="button" class="refresh-announcements" alt="Refresh Announcements"><i class="fa fa-refresh"></i></a>
            <a href="#" role="button" class="show-set-announcement-modal" alt="Create Announcement"><i class="fa fa-plus"></i></a>
          </span>
        </div>
        <div class="panel-body">
          <!-- BEGIN NEWS POSTINGS -->
          <div id="news-postings" class="list-group"></div>
          <!-- END NEWS POSTINGS -->
        </div>
      </div>
    </div>
    <!-- END NEWS CONTAINER -->
    <!-- BEGIN TICKETS CONTAINER -->
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Open Tickets</strong>
            <span class="pull-right">
              <a class="refresh-tickets" role="button" href="#" alt="Refresh Tickets"><i class="fa fa-refresh"></i></a>
              <a href="{% url 'tickets:create_ticket' %}" alt="Create Ticket"><i class="fa fa-plus"></i></a>
            </span>
          </div>
          <div class="panel-body">
            <!-- BEGIN FLAGGED TICKETS -->
            <div id="flagged-tickets" class="list-group">
              <table class="table table-hover">
                <thead class="row">
                  <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-3">Description</th>
                    <th class="col-md-3">Author</th>
                    <th class="col-md-3">Owner</th>
                    <th class="col-md-2">Last Update</th>
                </thead>
                <tbody id="tickets-tbody"></tbody>
              </table>
            </div>
            <!-- END FLAGGED TICKETS -->
          </div>
        </div>
      </div>
      <!-- END TICKETS CONTAINER -->
    </div>
  </div>

  <!-- BEGIN MODAL -->
  <div id="set-announcement-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- BEGIN MODAL HEADER -->
              <div class="modal-header">
                  <h3 id="mlabel">Announcements</h3>
              </div>
              <!-- END MODAL HEADER -->
              <!-- BEGIN MODAL BODY -->
              <div class="modal-body">
                  <div class="modal-alert"></div>
                  <!-- BEGIN ANNOUNCEMENTS FORM -->
                  <form role="form" class="form form-vertical" id="set-announcements-form">
                    <input type="hidden" name="announcement_id" id="announcement_id" value="0" />
                    <table class="table table-hover" id="announcement-form-table">
                      {% for field in announcementform %}
                        <tr class="form-group">
                          <td><label class="control-label">{{ field.label_tag }}</label></td>
                          <td>
                            <div class="controls">
                              {{ field|addcss:"form-control" }}
                              <span id="{{ field.html_name }}-help" class="help-inline"></span>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </form>
                  <!-- END ANNOUNCEMENTS FORM -->
              </div>
              <!-- END MODAL BODY -->
              <!-- BEGIN MODAL FOOTER -->
              <div class="modal-footer">
                  <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                  <a role="button" class="btn btn-primary set-announcement-form-submit">Ok</a>
              </div>
              <!-- END MODAL FOOTER -->
          </div>
      </div>
  </div>
  <!-- END MODAL -->


  <!-- BEGIN MODAL -->
  <div id="del-announcement-modal" class="modal fade in" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- BEGIN MODAL HEADER -->
              <div class="modal-header">
                  <h3>Delete Announcement</h3>
              </div>
              <!-- END MODAL HEADER -->
              <!-- BEGIN MODAL BODY -->
              <div class="modal-body">
                  <div class="modal-alert"></div>
                  <span>Are you sure you want to delete the specified announcement?</span>
                  <!-- BEGIN ANNOUNCEMENTS FORM -->
                  <form role="form" class="form" id="del-announcements-form">
                    <input type="hidden" name="announcement_id" id="announcement_id" value="0" />
                  </form>
                  <!-- END ANNOUNCEMENTS FORM -->
              </div>
              <!-- END MODAL BODY -->
              <!-- BEGIN MODAL FOOTER -->
              <div class="modal-footer">
                  <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                  <a role="button" class="btn btn-primary del-announcement-modal-submit">Ok</a>
              </div>
              <!-- END MODAL FOOTER -->
          </div>
      </div>
  </div>
  <!-- END MODAL -->
<!-- END BACKEND CONTENT -->
{% endblock %}